[2016-01-19 18:39] SteveGrise opened #1 "Field settings change when DataGrid is scrolled"
If the DataGrid is scrolled Field settings can be changed when the selected row is scrolled out of view.

This is a serious issue that saves bad changes to the config settings.

[2016-01-19 18:41] SteveGrise opened #2 "Concatenate Method 'Clear' Button is clipped"
Need to adjust the XAML for this button - the right-hand side is clipped.

[2016-01-20 14:09] SteveGrise opened #3 ""Split" Method should have "(space)" like Concatenate"
Make visually the same also easier to preserve spaces in Xml

[2016-01-20 14:10] SteveGrise opened #4 "Improve Evaluate Expression formatting and feedback"
Currently does not do exactly the same thing as the actual calculate does (swapping text values with quotes around them is the main example). Need to make this as clear as possible. Also need better printing on error for expressions that have not worked...

[2016-01-20 15:02] SteveGrise opened #5 "Continue if number of features in existing service is 0"
Was indicating the publish failed when no existing data matched the expression.

[2016-01-20 15:03] SteveGrise opened #6 "Publish is ignoring Replace By Settings"
If not set in Parameter then expression was still being used.

[2016-01-20 15:46] SteveGrise opened #7 "Need better status messages for AGO updating"
Just printing out chunk size, not total progress.

[2016-01-20 20:44] ChrisBuscaglia opened #8 "Preview only exports 3 rows when set to 10"
![preview](https://cloud.githubusercontent.com/assets/5614261/12462516/9a179076-bf73-11e5-925b-dc5b38b657a6.png)
Preview only seems to export 3 rows to temporary FC when set to 10.

Data input was Parcels3 and CommunityParcels_Parcels as target.

Also - trying to keep out of the implementation, preview is time consuming - can it be a schema only copy and then append?  Seems to work faster that way

[2016-01-20 20:52] ChrisBuscaglia opened #9 "Enhancement Request (Configure Data Mapping) - Toggle to see alias vs. raw field name - would be good for non-descript fields"

[2016-01-22 00:46] ChrisBuscaglia opened #10 "Preview / Publish failures"
I receive the following error when previewing and publishing.

Dataset: \DataAggregationTestingDataSamples\Parcels1.shp to the Community Parcels schema.

![addfielderror](https://cloud.githubusercontent.com/assets/5614261/12499262/dd583134-c05d-11e5-88be-e11632f2b37d.png)

[2016-01-22 13:59] LindsayThomas opened #11 "Update Addin Name and Install Dialog information"
- [x] Version Number should be 1 or ?  (do we want to go with the same version as pro? This limits us to off cycle builds) @busbus
- [x] DataAssistant
- [x] Author should be updated to Esri
- [x] Update description to say "The Data Assistant can be used to transform your organization’s data and load it into a database or service."  (words from SO)

[2016-01-22 16:44] ChrisBuscaglia opened #12 "Load testing - deleting features (74,378) fails"
When updating a parcel dataset with +- 75000 parcels, delete fails at +-66000 after 25 minutes.

Delete features from Feature Service failed
{"error": {"code": 498, "details": ["Invalid token."], "message": "Invalid token."}}
Publish Failed, see messages for details
Completed script Publish...
Failed to execute (Publish).

ArcREST security handler may resolve token timeout.

Test dataset:

\Parcel

[2016-01-22 17:14] ChrisBuscaglia opened #13 "Truncate service appears to be skipping the 'Use 'Replace By Field' Settings' option"
Using the option 'Use 'Replace By Field' Settings' seems to be deleting features even when turned off.

![delete](https://cloud.githubusercontent.com/assets/5614261/12517616/6cc3b020-c0e8-11e5-9df2-c67098f30ff2.png)

[2016-01-22 20:34] LindsayThomas opened #14 "Add Complete Help Documentation for the tools"
- [x] Publish
- [x] Preview
- [x] New Source Target Mapping file

[2016-01-22 20:35] LindsayThomas opened #15 "Add Tooltips Documentation for the tool"

[2016-01-22 22:26] ChrisBuscaglia opened #16 "Don't refresh map when adding a Source-Target Configuration File"

[2016-01-25 23:28] ChrisBuscaglia opened #17 "New File - UI Text Updates"
First input is "Source Dataset"
Second input is "Target Dataset"
Third input is "Configuration File"

[2016-01-25 23:29] ChrisBuscaglia opened #18 "New File - Feature Layer Update"
Browse for data does not recognize .shp's or .gdb's. It appears to only look for .lyr's.

[2016-01-25 23:29] ChrisBuscaglia opened #19 "Data Mapper - UI Button Style Updates"
Any buttons with text should use the Esri_SimpleButton style https://github.com/esri/arcgis-pro-sdk/wiki/ProGuide-ArcGIS-Pro-Styles

[2016-01-25 23:30] ChrisBuscaglia opened #20 "Data Mapper - File Tab Updates"
- Source Layer should be greyed out, if customer wants to edit then they can check the button to edit
- Target Layer should be greyed out, if customer wants to edit then they can check the button to edit
- Add a next  button on the File tab to get to "Field"
- Needs a vertical scroll bar if pane is shrunk/too many fields.

[2016-01-25 23:35] ChrisBuscaglia opened #21 "Data Mapper - Fields Tab Updates"
- Switch source target columns.  (I cannot wrap my head around this flipped order and we use source-target everywhere else in UI).
- Move Show Results checkbox above Method.
- Expression method looks like it either wraps text or accepts carriage returns, but doesn’t seem to do either. Not sure why the text box is large if it doesn’t do either.

[2016-01-25 23:35] ChrisBuscaglia opened #22 "AutoMatch UI Update"
Move "Use Automatch" to Fields Tab

[2016-01-25 23:37] ChrisBuscaglia opened #23 "Preview Updates"
Change Source-Target File to "Configuration File".  Can it just pick up last file I selected in Migrate tool?

[2016-01-25 23:38] ChrisBuscaglia opened #24 "Publish Updates"
Seems weird that I am publishing a "Configuration File".  Shouldn't I be publishing the target dataset I selected originally?

[2016-01-25 23:39] ChrisBuscaglia opened #25 "Update name of add-in match ribbon name."

[2016-01-25 23:39] ChrisBuscaglia opened #26 "Automatch discussion"
Automatch is really not "auotmatch" - the tool will "automatch" standard field names - which is default and in addition to automatching.  We need to come with a better name for what it is really doing - i.e. "Match Dictionary" or "Match Library" or something along that line.  LT, HE, DR.

@LindsayThomas @DeborahRoth @HeatherEisan

[2016-01-25 23:41] ChrisBuscaglia opened #27 "Collapse Configure and Share into a single section called "Data Assistant""

[2016-01-25 23:42] ChrisBuscaglia opened #28 "Enterprise Geodatabase errors"
Please log results of

EGDB - Hosted Service -- preview and publish fail
EGDB - EGDB Feature Service -- preview and publish fail
FDGB - EGDB Feature Service -- publish fails
SHP - EGDB Feature Service -- publish fails

[2016-01-28 16:20] ChrisBuscaglia opened #29 "Data Mapper: Fields: Method: Split"
The identified Part Number to use does not yield expected results
1.  Run New File tool:
   Source = ADDRESSESFGDB.gdb\Addresses
   Target = http://services.arcgis.com/8KEQHzVdm3qDSW1h/ArcGIS/rest/services/CommunityAddresses/FeatureServer/0
   (this feature service should have no existing features)
   Can choose either Automatch or no Automatch
2.  Use Data Mapper
   File: Source-Target File = fil

[2016-01-28 16:23] ChrisBuscaglia opened #30 "If target value is not valid for the target field then errors should be raised or logged"
If the field length of the Source field exceeds the field length of the Target field, the Publish tool will appear to run successfully, but no data will actually be published to the feature service.
1.  Run New File tool:
   Source = ADDRESSESFGDB.gdb\Addresses
   Target = http://services.arcgis.com/8KEQHzVdm3qDSW1h/ArcGIS/rest/services/CommunityAddresses/FeatureServer/0
   (this feature service s

[2016-01-28 16:36] ChrisBuscaglia opened #31 "Publishing 2 layers to a hosted feature service produces incorrect results"
1.  Run New File tool:
       - Source = Addresses.shp
       - Target = http://services.arcgis.com/8KEQHzVdm3qDSW1h/ArcGIS/rest/services/CommunityAddresses/FeatureServer/0
   (this feature service should have no existing features)
        - Use Automatch = Unchecked
2.  Run New File tool:
   Source = ADDRESSESFGDB.gdb\Addresses
   Target = http://services.arcgis.com/8KEQHzVdm3qDSW1h/ArcGIS/rest/s

[2016-01-29 14:27] SteveGrise opened #32 "Drop 'Expression' method from Feb release"
The whole point of the Data Assistant is to help non-programmers to load data. Lots of work left to be done to provide full expression support, the methods in this tool are all expressions of one sort or another, and the Conditional Value method provides an if then else logic in 1 line that can handle many situations...

[2016-02-03 17:04] SteveGrise opened #33 "Proxy settings"
Proxy url and proxy port may need to be UI options in Settings...

[2016-02-03 17:10] SteveGrise opened #34 "New Config File parameters"
Currently no layer files and limits in ArcGIS Pro will make only adding map layers as layers for source/target data when the services are map services.

Consider adding copy/paste string and copy/paste data from Project/Contents panes - but there is no way I can see to do this in Pro (without just grabbing a string and doing a lot of validation). Where is the option for 'Web Layers and Services' i

[2016-02-03 17:13] SteveGrise opened #35 "Max Errors / Ignore Errors Setting"
Currently the tools have a setting for the maximum number of errors to accept before stopping the process. This is set in dla.maxErrorCount. This could be added to the Settings Dockable Window.

Also there is an internal dla.maxrows setting (very large) that could be adjusted by users.

[2016-02-05 16:56] #21 closed, assigned to SteveGrise

[2016-02-05 16:57] #20 closed, assigned to SteveGrise

[2016-02-05 16:58] #18 closed, assigned to SteveGrise

[2016-02-05 16:58] #22 closed, assigned to SteveGrise

[2016-02-05 17:05] #17 closed, assigned to SteveGrise

[2016-02-05 17:05] #19 closed, assigned to SteveGrise

[2016-02-05 17:06] #27 closed, assigned to SteveGrise

[2016-02-05 18:18] #32 closed, assigned to nobody

[2016-02-05 18:18] #29 closed, assigned to ChrisBuscaglia

[2016-02-05 18:18] #16 closed, assigned to ChrisBuscaglia

[2016-02-05 18:19] #26 closed, assigned to SteveGrise

[2016-02-05 18:19] #25 closed, assigned to SteveGrise

[2016-02-05 18:19] #23 closed, assigned to SteveGrise

[2016-02-05 18:19] #24 closed, assigned to SteveGrise

[2016-02-05 21:18] #11 closed, assigned to SteveGrise

[2016-02-05 22:09] ChrisBuscaglia opened #36 "Preview/Publish will not calc. values from numeric (double, long, etc.) field to text"
Need to support this.

[2016-02-08 18:16] ChrisBuscaglia opened #37 "Using Value map crashes ArcGIS Pro"
Using Value map crashes ArcGIS Pro - click the "+" button.

[2016-02-08 18:24] #9 closed, assigned to SteveGrise

[2016-02-09 00:29] #37 closed, assigned to SteveGrise

[2016-02-09 00:30] #12 closed, assigned to SteveGrise

[2016-02-09 00:31] #31 closed, assigned to SteveGrise

[2016-02-09 00:31] #14 closed, assigned to SteveGrise

[2016-02-09 00:32] #15 closed, assigned to SteveGrise

[2016-02-09 00:55] #7 closed, assigned to SteveGrise

[2016-02-09 00:55] #5 closed, assigned to SteveGrise

[2016-02-09 00:56] #3 closed, assigned to SteveGrise

[2016-02-09 00:56] #2 closed, assigned to SteveGrise

[2016-02-09 00:56] #6 closed, assigned to SteveGrise

[2016-02-09 01:35] #10 closed, assigned to SteveGrise

[2016-02-09 01:38] #1 closed, assigned to SteveGrise

[2016-02-09 16:33] SteveGrise opened #38 "New Setting for Chunk size"
Consider the option to let users control the Chunk size for writing to feature services.

[2016-02-09 18:36] ChrisBuscaglia opened #39 "Publish Fails when attempting to delete intermediate data"
**First run of a new ArcGIS Pro Project, checked my ArcGIS Project and nothing called "COMMUNITYPARCELSTESTER" exists to manually delete.**

Start Time: Tue Feb 09 10:32:59 2016
Running script Publish...
Data Assistant - Publish
Configuration file: C:\Users\chri4819\Documents\ArcGIS\Projects\MyProject2\JackEichel15.xml
Exporting Layer from C:\EsriApplications\DataForAggregationTesting\Delaware\DE_

[2016-02-09 22:29] ChrisBuscaglia opened #40 "Update the 'Configure Data Mapping' input height"
Can we update the parameter inputs to have the same height as parameters in the GP tool?

![parameters](https://cloud.githubusercontent.com/assets/5614261/12932786/7bdb8682-cf39-11e5-84d0-c11dc269b97d.png)

[2016-02-09 22:52] ChrisBuscaglia opened #41 "Update Replace Data and Append Data tooltips with corrected text"
# Replace Data Parameter Tooltip

**Current:**

Specify one or more configuration files for with 'Replace By Field' Settings configured. The tool will raise an error if these settings are not included.

**Proposed:**

Specify one or more configuration files with 'Replace By Field' Settings configured. The tool will raise an error if these settings are not included.
# Replace Data Main Tooltip

![r

[2016-02-10 00:03] #13 closed, assigned to SteveGrise

[2016-02-10 00:04] #36 closed, assigned to SteveGrise

[2016-02-10 20:47] ChrisBuscaglia opened #42 "Append Data Failure"
When appending many records (259,025) to feature service, the following error presents.

Completed 204,400 out of 259,025 (Failed at Wed Feb 10 11:33:14 2016 (Elapsed Time: 1 hours 18 minutes 28 seconds)

Add features to Feature Service failed
Python Error messages:
Traceback Info:
  File "C:\Users\chri4819\AppData\Local\ESRI\ArcGISPro\AssemblyCache{28142961-b645-420f-ba2a-72bcf8212558}\GPTools\ar

[2016-02-10 20:51] #30 closed, assigned to SteveGrise

[2016-02-10 20:54] #41 closed, assigned to SteveGrise

[2016-02-10 21:37] #8 closed, assigned to SteveGrise

[2016-02-10 21:37] #4 closed, assigned to SteveGrise

[2016-02-10 22:17] ChrisBuscaglia opened #43 "Update the 'Configure Data Mapping' and 'Settings' dockable window"
Can you please update the DockPane to not close (just open) when clicking the ribbon button?

I'm assembling the data aggregation workflow into a task and executing the command in a task step for the DockPane will close the window.

[2016-02-10 22:18] #40 closed, assigned to SteveGrise

[2016-02-10 23:47] #43 closed, assigned to SteveGrise

[2016-02-17 14:11] SteveGrise opened #44 "Update Target Layer has "Source" text for "Target" Layer prompt"

[2016-02-17 14:13] SteveGrise opened #45 "Clarify Match Library funtionality"
Make it more clear that the tool will use the current file to update the library.

I don't want to have users select a different file because that could affect the currently open file in the tool and/or be confusing about what selecting that file does to the other tabs.

[2016-02-17 14:37] SteveGrise opened #46 "Add Proxy support"
If users have a proxy set up to access the Internet, add settings to the Data Assistant tools (in dla.py for now) to allow them to configure their local proxy.

[2016-02-24 00:51] #45 closed, assigned to nobody

[2016-02-24 00:51] #44 closed, assigned to SteveGrise

[2016-03-15 17:13] #42 closed, assigned to SteveGrise

[2016-03-28 21:56] #39 closed, assigned to SteveGrise

[2016-03-28 21:56] #28 closed, assigned to ChrisBuscaglia

[2016-04-13 21:17] NikkiGolding opened #47 "Change name of DefaultValue method"
-Change to Calculate Field

[2016-04-13 21:20] NikkiGolding opened #48 "Consider changing append/replace workflow"

[2016-05-02 20:06] ChrisBuscaglia opened #49 "Obey feature service edit capabilities when attempting to update a service"
Can append/replace data in a hosted feature service when edit capabilities are turned off, ideally the data assistant should obey these settings and prompt the user to update the editor settings.

[2016-05-02 20:07] ChrisBuscaglia opened #50 "Feature service layer is removed from ArcGIS Pro when appending/replacing data"
When updating a feature service layer, the layer is removed from the current map and not re-added.  Ideally, the layer should remain in the map and the user can refresh to see updates.

[2016-05-13 17:31] ChrisBuscaglia opened #51 "Warn users when specifying the "group layer" name for a feature service vs. sublayer"

[2016-05-24 20:13] #49 closed, assigned to SteveGrise

[2016-05-24 20:16] #47 closed, assigned to SteveGrise

[2016-06-06 23:30] #50 closed, assigned to SteveGrise

[2016-06-06 23:30] #51 closed, assigned to SteveGrise

[2016-06-29 16:23] chris-fox opened #53 "Crash when using xml with character in different encoding then what is expected"
Load the configuration file below in the Data Mapper -> Crash

It is failing when attempting to load the xml on the single quote character below in New Year's Day.

DESCRIPT="There is no collection on New Year’s Day, Memorial Day, July 4, Labor Day, Thanksgiving or Christmas"

[SourceTarget5.zip](https://github.com/Esri/data-assistant/files/339712/SourceTarget5.zip)

FYI @LindsayThomas, @ChrisBusc

[2016-06-29 17:07] chris-fox opened #54 "Crash when using xml that doesn't have expected nodes"
Load the attached xml -> Crash

It fails at this line when the given nodes don't exist:

SourceLayer.Text = _xml.SelectSingleNode("//Datasets/Source").InnerText

[XRayDefault.zip](https://github.com/Esri/data-assistant/files/339774/XRayDefault.zip)

[2016-07-08 15:27] ChrisBuscaglia commented on #53
@NikkiGolding @SteveGrise we should get this in for August/Sept

[2016-07-08 15:27] ChrisBuscaglia commented on #54
@NikkiGolding @SteveGrise we should get this in for August/Sept

[2016-07-19 17:13] MikeMillerGIS opened #55 "Create ability to load a series of configurations to load an entire data model to a new model"
As part of the work we are doing with the utility network, we need the ability to migrate the existing Local Government info model into the Utility Network.  This will require the capabilities of the Data Assistant, but need to run it on a series of files.

[2016-07-25 15:11] SteveGrise commented on #53
Looks like Xml encoding in Python 3 has changed from version 2. The issue is not an apostrophe (which is working in the same record "Lindsay Thomas' trash pickup"), it's actually a right-side quotation mark that is not valid in a UTF encoding (byte x92).

Will try to write this correctly from python, and also work around it in C# in case it sneaks in somehow.

[2016-07-26 20:32] ChrisBuscaglia opened #56 "Crash when data mapping - specific workflow with concatenate"
Any dataset - please use the 'show results' option.  This appears to happen on a few workflows, but this is how I can reproduce it consistently and may provide some clues as to where it is happening elsewhere.

video:
![da_crash](https://cloud.githubusercontent.com/assets/5614261/17154317/5b3d60be-5335-11e6-804e-0de69883ad34.gif)

[2016-07-27 13:16] SteveGrise commented on #56
Can I get the xml document? There must be something in that causing the issue.

[2016-07-27 14:36] SteveGrise commented on #53
With python 3 this appears to work for creating the file:
attrval = row[f].encode('utf-8', errors='replace').decode('utf-8',errors='backslashreplace')

I have also fixed it on the C# side to read a binary memory stream which seems to work nicely.

Note that the document I received must have been hand edited since the python script to create the problematic text would not have processed that string

[2016-07-27 14:43] SteveGrise commented on #54
I've made some changes in this area to handle missing Xml nodes. Note that this would only happen if someone hand-edits the Xml document. I need to do a bit more testing to verify error handling but have made coding changes.

[2016-07-27 17:23] chris-fox commented on #53
@SteveGrise, I may have edited the XML document while debugging, but this crash definitely occurred with the tools themselves without manual editing. @LindsayThomas was getting the crash prepping her demo at the UC. She may have the original File GDB that created the original issue.

[2016-07-27 20:39] LindsayThomas commented on #53
@SteveGrise Let me dig this up. I have about a million copies from trying to troubleshoot. Let me get the right one.

[2016-07-28 13:49] SteveGrise commented on #53
It's ok, my main point was that I think I have a solution now that handles
creating the file (python) and reading the file (c#). It may be that the
database did have those types of characters in there, it's just I'm pretty
sure it would have failed in the original file creation rather than just
the C# code.

I have pasted a bunch of non-typical characters into my test database, I
can export with p

[2016-07-28 14:41] LindsayThomas commented on #53
[PublicWorksUpdates.gdb.zip](https://github.com/Esri/data-assistant/files/388586/PublicWorksUpdates.gdb.zip)

Hi Steve, this is a version of the geodatabase that fails.
When I created the data I was using ArcCatalog\ArcMap.

[2016-07-28 14:51] SteveGrise commented on #53
Great, I was able to run through the tools, here is the result after
running Preview... works end-to-end in my test environment now.

[image: Inline image 1]

On Thu, Jul 28, 2016 at 10:41 AM, Lindsay Thomas <notifications@github.com>
wrote:

[2016-07-28 14:55] LindsayThomas commented on #53
@SteveGrise Great News.

[2016-08-08 16:30] ChrisBuscaglia commented on #56
This happens when creating a brand new XML from a target and source and field mapping for the first time.

[2016-08-08 16:32] ChrisBuscaglia commented on #55
Mike - you can append multiple files together, but not sure if this is exactly what you need. The tools will work with any source dataset.

[2016-08-09 12:44] MikeMillerGIS opened #57 "Ability to load a table to a featureclass"
Need the ability to load a table to a feature class using another feature layer to provide the geometry and potentially other attributes.  The scenario is a transformer table related to a pole.

[2016-08-24 18:02] SteveGrise commented on #56
I believe this was related to the other issue with missing Xml nodes causing an exception. Have not been able to reproduce since making that change.

[2016-08-24 18:03] SteveGrise commented on #54
Dev testing was positive

[2016-08-24 18:04] SteveGrise commented on #53
Have checked in the fix.

[2016-08-24 19:14] NikkiGolding commented on #56
FYI @ChrisBuscaglia We will validate issues for release.

[2016-08-24 19:15] NikkiGolding commented on #54
FYI @ChrisBuscaglia We will validate issues for release.

[2016-08-24 19:15] NikkiGolding commented on #53
FYI @ChrisBuscaglia We will validate issues for release.

[2016-08-24 21:01] jessnoo commented on #54
validated with attached xml.  user is now presented with error messages regarding missing nodes.

[2016-08-24 21:01] #54 closed

[2016-08-25 18:44] jessnoo opened #58 "New mapping file fails to complete"
With the lastest development cut on Pro 1.3, the new mapping file tool completes successfully but does not create a file.  It reports that the target layer isn't a feature service layer when it is.

steps to repro:

1. Publish district dataset shared in issue #53 by Lindsay T as a hosted feature service in ArcGIS Online (attached below for reference)
2. Create a new map in pro with the source FC a

[2016-08-25 18:48] jessnoo commented on #58
point of clarification -- i'm using the released 1.3 version. (NOT a daily or special build)

[2016-08-25 18:54] SteveGrise commented on #58
I have been working on 1.2, will need to do some testing to prepare for 1.3
release.

On Thu, Aug 25, 2016 at 2:48 PM, Jess Neuner <notifications@github.com>
wrote:

[2016-08-25 19:15] ChrisBuscaglia commented on #58
@jessnoo Does this work in ArcGISPro 1.2?  There was this issue that was fixed...#51

[2016-08-25 19:26] jessnoo commented on #58
@ChrisBuscaglia  i didn't test in 1.2, i can circle back on that if we feel like it's relevant?

no -- the tool did not create any file -- there are kind of two issues here:

1. the tool says it's not a feature service layer when it is
2. the tool says it finished successfully when it didn't

[2016-08-25 20:06] ChrisBuscaglia commented on #58
@jessnoo I'm trying to determine if the ArcGIS Pro 1.2 exhibits the same behavior, that would be really bad since it's the version that the tool is supported on.

[2016-08-25 23:54] jessnoo commented on #58
@ChrisBuscaglia @SteveGrise

Retested with 1.2 and the New File tool ran successfully (iow passed the test) with the same workflow described above.

![image](https://cloud.githubusercontent.com/assets/6181441/17989652/ed700b56-6ae3-11e6-8646-9607e9cb5584.png)

looks like there is a bug at 1.3 with the August version of the New File tool.

@NikkiGolding FYI

[2016-08-26 12:59] SteveGrise commented on #58
I believe this 1.3 issue is similar to what someone had found at the UC. It
looks like something changed in the GP Parameters in 1.3, hopefully it
addresses the workaround we did in 1.2 to catch feature service vs feature
layer selections.

On Thu, Aug 25, 2016 at 7:54 PM, Jess Neuner <notifications@github.com>
wrote:

[2016-08-26 17:57] ChrisBuscaglia commented on #58
@SteveGrise

I can reproduce this with the 1.2 released addin with ArcGIS Pro 1.3.

I did however get around the problem by dragging and dropping the feature service directly into the tool from my portal (appending the layerid).

![8-26-2016 10-53-13 am](https://cloud.githubusercontent.com/assets/5614261/18015227/94e7e6b4-6b7b-11e6-9a2f-f32d945f936d.png)

Since every customer with 1.2 has been pro

[2016-08-26 18:28] SteveGrise commented on #58
@ChrisBuscaglia sure, I can take a look. I'm sure there's a fix for it, shouldn't be too hard.

[2016-08-31 16:18] SteveGrise commented on #58
Seems to me like there is a significant change in service urls in ArcGIS Pro 1.3(.1). I'm pretty sure in earlier versions that catalogPath and path properties for services would return the /0 (/<id>) style urls. Now I see url strings like '/L0PARCELS'.

@ChrisBuscaglia I'd like to verify that this behaviour is now 'normal' in Pro. It's a big change.

I've worked around it and I believe the issue i

[2016-08-31 16:52] NikkiGolding commented on #58
@chris-fox can you talk with the Pro team and get some info?

[2016-08-31 18:05] MikeMillerGIS commented on #57
This also needs to support where I want to load the Feature Class and a one or more related table that is in 1:1 relationship to a single target output

[2016-08-31 18:06] MikeMillerGIS opened #59 "Ability to disabled changing of a field if Field Mapping was loaded from a config."
Scenario for the utility network is that we would like to stub out the XML config files, in there we need to set the Asset Type and Asset Group fields to a default value and we would not like the user to override these.

[2016-08-31 18:08] MikeMillerGIS opened #60 "A new method for domain mapping"
When loading data into the Utility Network, we will have to translate a lot of fields with domains to new codes.  To simplify this process, we would like a new method that would look at the source domain and target domain and let you map values.

[2016-08-31 18:19] MikeMillerGIS commented on #57
We can provide sample data

[2016-09-01 13:08] chris-fox commented on #58
@NikkiGolding, I spoke with the GP team and this is not expected behavior, they were actually already aware of it and had logged a bug, CR340485. The expected behavior is it should return the url to the layer or table within the feature service.

[2016-09-01 13:56] SteveGrise commented on #58
Ok, I worked around it in the code - if the layer id startswith 'L' then it
will strip off the L and drop the feature service name that is appended
after the numeric layerid. If just the numeric value is passed then the
code does nothing.

I did notice that arcpy.Describe works better in 1.3, looks like some of
the complexity in figuring out layer properties (path) is no longer needed.

On Thu, Se

[2016-09-01 14:52] SteveGrise commented on #57
I guess there is no (practical) way to set up a joined layer or database view then use it as the source feature class? I've done this in other cases.

It seems like the UI would change a fair bit to support this with DA - it's not a problem, but would likely be a new "Create File" tool that accepts additional parameters.

[2016-09-01 14:57] SteveGrise commented on #55
The easiest thing to do would be to provide a parameter option for a 'folder' and then process all of the Config files in the folder. Could also include a wildcard parameter to process a subset of files in the folder, default would be *.xml. Would that work? It would apply to Append and Replace tools, and maybe Preview.

[2016-09-01 14:57] MikeMillerGIS commented on #55
that sounds good to me

[2016-09-01 15:03] SteveGrise commented on #60
Keeping the domain values in the config files would increase the file sizes quite a bit because you'd have to store all of the domains. We could dynamically pull the domains from the source/target layers, it might be a bit slow to get the domains/values. Possibly loading the domain names in the Config file then grabbing specific values from the layer when the items are selected would be the best o

[2016-09-01 15:04] MikeMillerGIS commented on #57
I am sure it could be done with a view or join, but we would like the tool to do this in process.

[2016-09-01 15:05] SteveGrise commented on #59
Most likely would just add "Editable=false" to config files so not editable in the UI. I would use python/xslt to generate these stub files, I'd like to work on setting those up as part of a 'dev package' for DA if that makes sense...

[2016-09-01 15:05] MikeMillerGIS commented on #60
This will also have to account for domains that we auto convert to int and the user will have to match them up.  I do not think we need to store the domains in the config, just the tool present a dialog with Domain A and Domain B and let me map the values such that Code PVC is now code 1

[2016-09-01 15:08] SteveGrise commented on #57
Ok, then a table-feature class tool (or 'joiner' tool) would probably be the cleanest solution. It's either that or make the Create File tool a .NET UI so there is a better user experience than the GP tool.

For scripting it would be Ok to keep the .py tool around, but it's a bit clumsy to start adding options to the UI.

[2016-09-01 16:18] MikeMillerGIS commented on #57
@SteveGrise,  Just talking through this with John right now.  I misunderstood what we needed.  The immediate need is to read a layer that uses a join.  So can the Data Assistant read the source feature class/table and the fields from a join on that featureclass and table?  This should prevent reworking on the UI and just leverage Pro to specify the join.

Does this make things any easier?

[2016-09-01 19:28] SteveGrise commented on #57
I believe the map join approach will work, although I don't recall testing
it specifically. I've fixed the issues that come up with that in other work
so it would be an easy enhancement if there are issues.

On Thu, Sep 1, 2016 at 12:18 PM, Michael Miller <notifications@github.com>
wrote:

[2016-09-06 16:13] ChrisBuscaglia commented on #58
@NikkiGolding Just getting to this, has anyone tested this?

[2016-09-06 16:21] NikkiGolding commented on #58
@ChrisBuscaglia not yet. @jessnoo did not get to it before she left on vacation. @lindsayking will work on this today so we can get moving on getting it signed.

[2016-09-06 17:34] lindsayking commented on #58
@ChrisBuscaglia @NikkiGolding   When testing with the latest in the August branch, I am still encountering an issue using Jess's repro steps in the original comment above.
1) Improvement: the tool no longer reports that it completes successfully when it doesn't  (it no longer reports success when it is really a failure)
2) However, the tool fails, reporting that the PublicWorksDistrict does not ap

[2016-09-06 17:52] NikkiGolding commented on #58
@SteveGrise Can you take a look?

[2016-09-06 18:08] SteveGrise commented on #58
In my testing the layer was prefixed with an 'L', like '/L0PublicWorksDistrict'. In this example it looks like just '/0PublicWorksDistrict'. I'm just guessing at the logic here since I am working around a bug in Pro (Chris Fox referenced it but I don't think I have access to the bug to read about it), but maybe I should change the logic so that I basically just extract the number from this string

[2016-09-06 18:41] SteveGrise commented on #58
Made a change to just take the first integer in the last part of the layer url. Committed to the August 2016 branch.

[2016-09-06 18:44] lindsayking commented on #58
@SteveGrise  Thanks.  I'll re-test now.

[2016-09-06 19:16] lindsayking commented on #58
@SteveGrise @NikkiGolding @ChrisBuscaglia

The latest change looks good.  Using the same workflow as above, I am now seeing the tool complete successfully.
![fixpasses](https://cloud.githubusercontent.com/assets/4316336/18287025/4cdc1d24-742a-11e6-85a7-4dd4c042a718.png)

My only concern is that it now looks like it checks to service/REST capabilities twice.  Is that an issue, or are we good to pro

[2016-09-06 19:43] SteveGrise commented on #58
@lindsayking I think you used the same source and target? If you use a file gdb/feature service combo it should check each one separately.

[2016-09-06 20:08] lindsayking commented on #58
@SteveGrise   -   I used a file gdb feature class as the source dataset and the feature service layer as the target.  In this case, I dragged them into the tool from my contents pane, and they had the same name.  This is the scenario in which I see the checks to the service twice.

When I change the name of the file gdb layer and re-run the tool, however, I don't see the checkts reported twice.  I

[2016-09-06 20:40] SteveGrise commented on #58
@lindsayking the issue is that from the GP script I just get the layer name and then it's just picking up the first layer with that name both times. It's actually not going to create the file the way you want.

I'm not sure if I can figure out from the GP tool parameter which of the layers with the same name to use, this all happens before the script runs. For example, in Pro GP tool I see PublicW

[2016-09-06 22:48] #58 closed

[2016-09-12 20:22] SteveGrise opened #61 "Support loading to/from tables"
Support table - table data loading.

[2016-09-12 22:10] SteveGrise opened #62 "Rework ‘New File’ in C# rather than as a GP tool"

[2016-09-12 22:12] SteveGrise opened #63 "Enterprise GDB handling"
1. There are changes in Pro 1.3.1 for paths, handled in interactive tool but batch script issues likely
2. Script tools to auto-generate Utility Network config files
3. Generate stub/template files
4. Use Automatch and other techniques to further automate processing

[2016-09-12 22:12] SteveGrise opened #64 "Pre-build Automatch settings for Utility Networks"
Build typical matching into an Automatch file

[2016-09-15 21:02] ChrisBuscaglia commented on #56
@SteveGrise Still crashing after changes for Sept. release

[2016-09-15 21:56] SteveGrise commented on #56
@ChrisBuscaglia I have never been able to reproduce this issue, and I thought maybe some of the other changes would have helped. I likely need to get source/target datasets and the project file to try to repro the issue. Does it happen on multiple machines?

[2016-09-16 14:32] SteveGrise opened #65 "Methods not changing values when source field name = target field name"
Always just seems to copy the source value, this was working on Pro 1.2 and no code changes were made.

[2016-09-16 14:35] SteveGrise opened #66 "Enterprise Geodatabase layers causing issues"
Looks like the source is always CIMWKSP values now, this has some implications for spatial references and other layer properties in all tools.

[2016-09-16 14:36] SteveGrise opened #67 "Spatial Reference factoryCode issues"
value is an integer, must cast value to a string in code for Xml docs.

[2016-09-16 14:53] SteveGrise opened #68 "0 source rows for tools could provide a better message"
Current message looks at row count in the view but if there are no source dataset rows the message could be better.

[2016-09-16 19:31] SteveGrise opened #69 "Enterprise Geodatabase Preview ignoring row limit parameter"
returns all rows for preview. Db is not returning OIDs in order.

[2016-09-16 21:07] SteveGrise commented on #65
@ChrisBuscaglia @chris-fox Guys I am seeing some arcpy.da cursor issues in Pro 1.3.1. Can you see if others are experiencing similar issues or if there is a known issue for this?

I am getting the arcpy.da rows, setting values in that list, and then calling cursor.updateRow(row). The result is that the calculated field values are not being changed in the file geodatabase.

This is code that was wo

[2016-09-27 00:26] lindsayking opened #70 "Add copyright header"
@SteveGrise

The esri copyright header needs to be added to files in the repo.  Many already have it, but it needs to be added where it is not already present:
- [ ] dlaCreateSourceTarget.py
- [ ] Any other files that were manually worked on or created (not boilerplate or automatically generated files).

Here is the copyright text comment that should be added:

[code]

[2016-10-04 20:16] SteveGrise commented on #70
Added and sync'd to develop version

[2016-10-04 20:17] SteveGrise commented on #69
Applied fixes - have to sort values since roworder is not reliable.

[2016-10-04 20:18] SteveGrise commented on #67
changed in relevant places.

[2016-10-04 20:19] SteveGrise commented on #68
Added a better message, also don't process if no rows found.

[2016-10-04 20:20] SteveGrise commented on #66
Found a good fix testing whether the layer supports DATASOURCE property. Also just leave the layer name alone if CIMWKSP is the data source.

[2016-10-04 22:13] SteveGrise commented on #65
There was an issue in my code, where the source and target names were the same the fields were being appended 2 times into the field list, and the values were not being set correctly.

[2016-10-10 13:53] chris-fox opened #71 "Append fails if target feature class is in a file geodatabase but not within a feature dataset"
The exception here is a little misleading, because it talks about deleting intermediate data and there being a lock. The problem is that the Create Feature Class gp tool fails when you attempt to create a feature class with the name 'GDB'. This name is being used because the original file geodatabase for the source feature class is named 'GDB'.

Steps to repro:
1. Create a file geodatabase named '

[2016-10-10 14:13] ScottOppmann opened #72 "Add support for dark theme in ArcGIS Pro 1.4"
Investigate level of effort to add support for a new dark theme that will be shipped with ArcGIS Pro 1.4.
@chris-fox has already investigated requirements and can provide guidance when ready.  Once we determine level of effort, we can decide if we want to include in Feb release or defer to future release.

[2016-10-13 13:16] chris-fox opened #73 "Update gitignore file to exclude binary and build files from the repo"
We shouldn't include build files in the repo as they change with every build and add unnecessary files to the repo. To share the compiled add-in with the repo you could add a post build action to copy the add-in to the root folder of the solution and make it available in the repo.
# Build results

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

[2016-10-13 14:32] SteveGrise commented on #73
I added this because people asked me to do it. I guess I can remove it, but
they will just ask me to add it again with another bug.

On Thu, Oct 13, 2016 at 9:16 AM, Chris Fox <notifications@github.com> wrote:

[2016-10-13 14:38] chris-fox commented on #73
I passed this info along to @lindsayking and she agreed. You can still include the compiled add-in as a separate file at the root of the repo to share with people, add a build event to xcopy it to the solution folder. I am just saying we should not include the bin or obj folders in the repo with the compiled dlls and duplicate copies of the python files and toolboxes.

[2016-10-13 14:40] SteveGrise commented on #73
I don't mind removing this, just this week someone asked me to add this to
a different repo though. Do you have an example of 'add a build event to
xcopy it to the solution folder', I haven't done that before. Or maybe I
just explicitly include the addin in the build folder since that's where
people would look for it.

On Thu, Oct 13, 2016 at 10:38 AM, Chris Fox <notifications@github.com>
wrote:

[2016-10-13 21:42] chris-fox commented on #73
I thought it would be as easy as adding something like below to the post-build event command line in the project properties. Unfortunately it seems that packaging the of the add-in occurs after the post build event is fired so the add-in doesn't exist to copy yet.

xcopy "$(TargetDir)_addin_name_.esriAddinX" "$(SolutionDir)"

A colleague mentioned setting up another project in the solution that ha

[2016-10-14 12:59] ScottOppmann opened #74 "New public APIs (ArcGIS Pro 2.0)"
After the release of Pro 1.4, the development team will be deprecating the public APIs and we need to recompile the add-in and certify on Pro 2.0.

Get @chris-fox @ChrisBuscaglia and others to develop plan and strategy for add-in.

[2016-10-14 13:57] chris-fox commented on #71
This problem is more common then I originally thought and easier to reproduce. The problem will occur if the output feature class is in a file geodatabase and not within a feature dataset. For example in the user's case:

C:/Data/CommunityTest/ProcessedData/Billings.gdb/Processed

The issue occurs at the line below:

https://github.com/Esri/data-assistant/blob/master/ShareGISData/GPTools/arcpy/dla

[2016-10-14 14:55] chris-fox commented on #71
@SteveGrise, I just found something new. Notice how the path described above has paths with forward slashes. I can reproduce this in 1.3.1. It seems the tool is expecting backslashes for the path to local datasets which seems to be why it gets to the line of code described above. If in the xml I change the slashes to backslashes then everything is fine.

[2016-10-14 14:57] MikeMillerGIS commented on #71
url.path.normpath to the rescue!

[2016-10-17 18:46] SteveGrise commented on #71
@chris-fox I have made many changes over the last several weeks to better support different layer types and data source properties. Please try with the latest development branch code. The 'C:/' style strings should never occur. Also note users may need to recreate some files created with the Sept 15 release to ensure that layer strings are handled correctly.

[2016-10-17 18:47] SteveGrise commented on #73
Tried several approaches, none seem to work well because the files are already in the repo. Any ideas? My latest attempt is checked into the development branch.

[2016-10-17 19:20] chris-fox commented on #71
@SteveGrise, yes I cannot reproduce this in the developer branch.

[2016-10-17 21:51] chris-fox commented on #73
Check out my fork below. I updated the gitignore and added a commit to remove all the bin and obj files. the gitignore works after this.

https://github.com/chris-fox/data-assistant

[2016-10-18 12:54] SteveGrise commented on #73
Sweet, that did the trick!

On Mon, Oct 17, 2016 at 5:51 PM, Chris Fox <notifications@github.com> wrote:

[2016-10-20 18:12] jessnoo opened #75 "New File fails when there are no maps"
If the active project doesn't have any maps, the New File tool fails.  A map should not be required for any of the tools to execute successfully.

![image](https://cloud.githubusercontent.com/assets/6181441/19572173/03c3c502-96b6-11e6-97e8-4421385633f5.png)

[2016-10-20 18:32] jessnoo opened #76 "Append data completes successfully, but attributes aren't coming through in the target layer"
In the attached .zip:[SampleData.zip](https://github.com/Esri/data-assistant/files/542588/SampleData.zip)
- GDB > TestFCOne is the Target Layer
- GDB1 > TestFCOne is the Source Layer
- SourceTarget.xml -- the mapping file created for this

Repro Steps:
1. With this compiled addin from the dev branch: data-assistant-develop\ShareGISData\bin\Debug
2. Create new mapping file that maps GDB1:TestFCOne

[2016-10-20 19:22] SteveGrise commented on #75
At Pro 1.3 I do not think it is possible to get the data source path for Enterprise Geodatabase layers the way that I had it working with 1.2 (i.e., Database Connections\test.sde\FClass). As a result, that combined with future automation of DA processes is leading me towards storing the ArcGIS  Pro project location and layer names in the configuration files rather than physical file paths.

The to

[2016-10-24 13:19] SteveGrise opened #77 "Handle Spatial reference FactoryCode=0"
It appears that the FactoryCode property can be 0 instead of blank/None to indicate a custom spatial reference.

[2016-10-24 18:53] ChrisBuscaglia opened #78 "When Source or Target dataset includes only stock fields, OID, Shape, ShapeLength create file fails"
When attempting to load data without extended fields, Source-Target configuration file tool fails.

Repro Steps:
1. Create a new FC without extended fields
2. Use as a source for Source-Target configuration file

[2016-10-25 13:09] SteveGrise commented on #78
The title should read "Provide a better error message if there are no user defined fields". There is no need to use these tools if there are no user-defined fields. It's a nonsense use case that should raise an error.

[2016-10-31 14:10] MikeMillerGIS opened #79 "New mapping file path uses previous files path"
Reported by @jessnoo

set up:
fgdb1 - evacuationroute
fgdb2 - evacuationroutetarget
hosted fs - called evacuationroutetarget (eg http://services.arcgis.com/8KEQHzVdm3qDSW1h/arcgis/rest/services/EvacuationRouteTarget/FeatureServer/0 where the 0 layer name is EvacuationRouteTarget)

Map with fgdb1 evacuationroute and the hosted feature service loaded into it
Another map with fgdb2 layer loaded in it

[2016-10-31 14:11] MikeMillerGIS commented on #79
@jessnoo is this still an issue?

[2016-10-31 14:11] MikeMillerGIS opened #80 "Dec release checklist"
- [ ] FGDB to FGDB
- [ ] EGDB to FGDB
- [ ] FGDB to EGDB
- [ ] EGDB to FS
- [ ] FGDB to FS
- [ ] SHP to FS
- [ ] SHP to EGDB
- [ ] SHP to FGDB
- [ ] Methods not changing field values when sourcename=targetname - #65
- [ ] Try to get layer source even if there is no map - #75
- [ ] Enterprise GDB data source causing issues - #66 (part of #71 fix)
- [ ] #67/#77 fixes for FactoryCode spatial referenc

[2016-10-31 15:11] ChrisBuscaglia commented on #78
@SteveGrise Wouldn't it be easier to just create the file instead of trapping the error?  One thing that I've found difficult is the file based approach.  During a design I may have to add fields to counter a source that was unknown at the time of the target being created.  I basically have to re-create the file every time since the tool is reading from the XML for fields and not the source-target

[2016-11-04 22:01] ChrisBuscaglia opened #81 "AGOL Feature Service to AGOL Feature Service failure"
AGOL Feature Service to AGOL Feature Service failure

Adding features 8000:8100
Add features to Feature Service failed
Python Error messages:Traceback Info:  File "C:\Users\chri4819\AppData\Local\ESRI\ArcGISPro\AssemblyCache\{28142961-b645-420f-ba2a-72bcf8212558}\GPTools\arcpy\dlaPublish.py", line 280, in addFeatures    lenAdded = len(result['addResults'])
null
Data Assistant Update Failed, see me

[2016-11-07 13:33] SteveGrise commented on #79
I'm not sure where the 'Memory Issue' title came from, it looks to me like an issue with 2 different maps.

[2016-11-07 13:43] MikeMillerGIS commented on #79
@SteveGrise updated the title

[2016-11-07 15:31] chris-fox opened #82 "Consider using generic term rather than talking about geometry as Parcels"
When running an append and presumably when complex geometry is encountered you get an output message: 'Simplifying (densifying) Parcel Geometry'. Maybe we should just say 'Simplifying (densifying geometry'.

[2016-11-07 15:40] chris-fox opened #83 "Preview/Append fail on rows with a raster field that is not null"
Not sure if it is intended to be supported by the tool, but Raster fields raise an error if they have a non null value in the source. Attached is some sample data that contains a couple rows with populated raster data fields.

[SampleData.zip](https://github.com/Esri/data-assistant/files/575783/SampleData.zip)

FIPS_CNTRY:GM #0
ISO_3DIGIT:DEU #1
CNTRY_NAME:Germany #2
POP_CNTRY:81436300.0 #3
Hyperl

[2016-11-07 16:12] ChrisBuscaglia commented on #82
@SteveGrise This is probably because we took the original code from community parcels for parcel-specific geometries.  Please see issue #81 - this appears to be failing for some geometries still and I believe that we can move this code to append and more easily debugged if we run into these types of issues in the future.

[2016-11-07 16:43] ChrisBuscaglia commented on #77
@SteveGrise What transformation is applied when going from a custom proj. SR to a geographic?

[2016-11-07 20:19] ChrisBuscaglia opened #84 "Append and Preview workflow - SHAPE_LEN field is in the config file but not the exported dataset"
Seems to be failing at setting the progressor bar? The fields are able to be calculated manually in the intermediate dataset.

![dlaerror](https://cloud.githubusercontent.com/assets/5614261/20073970/37ed7504-a4e3-11e6-9521-3fce07dbefdf.png)

Attached below is the XML generated

[SourceTarget77.zip](https://github.com/Esri/data-assistant/files/576530/SourceTarget77.zip)

Dataset is located [here](h

[2016-11-07 23:38] jessnoo opened #85 "When there's no map in project - New File fails for the following combinations"
**Source - Target combinations that fail:**
- Shapefile to File Geodatabase
- File Geodatabase to Enterprise Geodatabase (oracle)

**Repro Steps:**

1. Create a new Pro project that's empty (no maps, no scenes, etc)
2. Click New File
3. Navigate to a source file that's a shapefile
4. Navigate to a target file that's in a fgdb
5. Run tool

![image](https://cloud.githubusercontent.com/assets/6181441

[2016-11-08 00:38] jessnoo opened #86 "GP tools do not work outside of Pro"
It seems that when a new mapping file is created using layers in a map item -- if that map item is changed or deleted, the mapping file no longer works.

What dependencies make sense for the mapping files?

[2016-11-08 00:42] jessnoo commented on #86
Example --

the attached mapping file was created with layers in a map and all the tools executed successfully when the map existed.  After i deleted the map item and tried to run the replace tool, even though the data sources still exist in the same locations -  it fails

![image](https://cloud.githubusercontent.com/assets/6181441/20082126/c633863a-a508-11e6-9354-57068b22ceab.png)

[shp_fgdb.zip]

[2016-11-08 00:58] jessnoo commented on #75
Duplicate of #85 ?

[2016-11-08 01:00] jessnoo commented on #79
@MikeMillerGIS @SteveGrise Yes -- this is still an issue

in this example from the 1.4 testing, the input mapping file is for fGDB to eGDB -- but the oracle DB isn't updated -- and the messages indicate my previous test with a shapefile was used.

![image](https://cloud.githubusercontent.com/assets/6181441/20082561/a8d04058-a50b-11e6-9c87-d07972d5e9eb.png)

[2016-11-08 13:38] chris-fox opened #87 "Left and Right method 'Show Results' returns None if the string value is less than the length of the number of characters specified."
In the screenshot below we are applying a method of Left to the country name field using a value of 4 which shows the correct results:

![image](https://cloud.githubusercontent.com/assets/6796763/20101054/4312ab2e-a58e-11e6-966e-1975d1f36223.png)

Below is the same method but with a value of 8. Now several country names are shown as None because the length of their name is less than 8 characters l

[2016-11-08 14:02] chris-fox commented on #86
In addition, is there a need to be able to script this workflow outside of Pro to run it daily/weekly, etc.? If so you would need to be able to run outside the context of a 'Current' project.

![image](https://cloud.githubusercontent.com/assets/6796763/20101921/0ad6caca-a592-11e6-9dc4-e1d8e4f75f6e.png)

[2016-11-08 15:36] ChrisBuscaglia commented on #86
@chris-fox Yes - needs to run outside of ArcGIS Pro.

[2016-11-08 22:00] jessnoo opened #88 "Data Mapper window should be scroll-able or more responsive"
The Configure Data Mapping dialog has a couple opportunities:

1. if the pane it is in is made smaller than that width, no scroll bars appear. and it doesn't feel like it should have a minimum width so wide.

![image](https://cloud.githubusercontent.com/assets/6181441/20118979/898c9524-a5bb-11e6-9bc0-fb8154d9a9ff.png)

2. also, it should, by default show up where the GP dialog shows up --- NOT ove

[2016-11-08 22:23] jessnoo opened #89 "When target is eGDB, map doesn't refresh as expected"
i have observed this with feature services as well.  I'm not sure if this is a Pro thing, or if there is a way we could address it with the tools.

Repro steps:
Build a new mapping file fgdb - egdb.  Use the map layer for the egdb at least.
Execute append

![image](https://cloud.githubusercontent.com/assets/6181441/20119832/ea3b34cc-a5be-11e6-844d-9fb511eea026.png)

[2016-11-08 22:27] jessnoo commented on #89
Similar issue with Replace ...

![image](https://cloud.githubusercontent.com/assets/6181441/20119940/745728e6-a5bf-11e6-9167-e3186c6da13e.png)

[2016-11-09 00:04] jessnoo commented on #63
@SteveGrise What is the status of these items?

[2016-11-09 00:04] jessnoo commented on #62
@SteveGrise what the reasoning for this enhancement request?

[2016-11-09 00:08] jessnoo commented on #56
@SteveGrise This is still an issue with 1.4 Alpha 3
![image](https://cloud.githubusercontent.com/assets/6181441/20122563/8151070c-a5cd-11e6-90c1-9f254e86a0aa.png)

[2016-11-09 00:09] jessnoo commented on #53
@ChrisBuscaglia @chris-fox validated

[2016-11-09 00:09] #53 closed

[2016-11-09 00:11] jessnoo commented on #71
@chris-fox @ChrisBuscaglia
validated

[2016-11-09 00:11] #71 closed

[2016-11-09 00:12] jessnoo commented on #73
@SteveGrise is this addressed?

[2016-11-09 00:15] jessnoo commented on #78
Closing issue as the workflow doesn't make sense for the tools. Users could use core Pro tools to accomplish this.

[2016-11-09 00:15] #78 closed

[2016-11-09 00:17] jessnoo commented on #80
Closing as it's out of date. Any items that need to be addressed in December, need to be well documented github issues in the december milestone with a priority status. Standard sanity testing will be handled with the test matrix in box by Esri team.

[2016-11-09 00:17] #80 closed

[2016-11-09 00:20] jessnoo commented on #75
Closing as duplicate of #85

[2016-11-09 00:20] #75 closed

[2016-11-09 13:31] SteveGrise commented on #73
I tried a number of approaches but they do not work with this repo. We
could put the addin in another folder, it would be a manual step but should
work.

On Tue, Nov 8, 2016 at 7:12 PM, Jess Neuner <notifications@github.com>
wrote:

[2016-11-09 13:31] SteveGrise commented on #56
I need a reproducible case for this.

On Tue, Nov 8, 2016 at 7:08 PM, Jess Neuner <notifications@github.com>
wrote:

[2016-11-09 13:38] SteveGrise commented on #62
​The area that has created the most confusion and bugs is the Create New
File tool. Since it is implemented as a GP tool, the script only sees
parameters that are passed to it and there is a lot of the ArcGIS Pro
context missing.

One issue is that when there are 2 layers with the same name in a map it
does not appear to be possible to figure out which layer​ was selected in
arcpy. In the GP UI yo

[2016-11-09 13:39] SteveGrise commented on #63
These issues were addressed and referenced in github commits.

On Tue, Nov 8, 2016 at 7:04 PM, Jess Neuner <notifications@github.com>
wrote:

[2016-11-09 14:06] chris-fox commented on #73
@SteveGrise, the gitignore seems to be working fine, you just need to make another commit to the repo removing the binary files. I did this in a separate branch and just submitted a pull request.

[2016-11-09 14:36] SteveGrise commented on #77
The tool just uses Append to handle the spatial reference transformation.

On Mon, Nov 7, 2016 at 11:43 AM, Chris Buscaglia <notifications@github.com>
wrote:

[2016-11-09 14:36] SteveGrise commented on #82
Yes the word Parcel should be dropped.

[2016-11-09 17:49] jessnoo commented on #63
@SteveGrise can you reference this issue in the relevant commits or associate this issue with other relevant issues, and then close?

[2016-11-09 18:29] jessnoo commented on #76
Not able to repro during 1.4 Alpha 3 testing.

[2016-11-09 18:29] #76 closed

[2016-11-09 19:57] jessnoo commented on #56
@SteveGrise  I can consistently repro the crash behavior with these steps:

With this file:
[issue76.zip](https://github.com/Esri/data-assistant/files/581622/issue76.zip)

1. Open a new, empty Pro 1.4 Alpha 3 project
2. Open the Data Mapper tool
3. Select the attached Issue76.xml s-t file
4. Click Fields tab
5. For LOWPARCELID, change the Method to Concatenate
6. Add LOWPARCELID
7. Add Unit
8. Try

[2016-11-10 22:00] SteveGrise commented on #86
Improved handling of layer source properties to ensure the layer path is usable between Pro sessions.

[2016-11-10 22:04] SteveGrise commented on #86
Starting with Pro 1.3, my understanding for Enterprise geodatabases is that the layer.dataSource property will always return a string like "CIMWKSP=<CIMWorkspaceConnection ...". I cannot find the property like 'Database Connections\<connection>.sde\featureclass. As a result I am creating a new .sde connection file to use as the source in the data assistant. To complete this work I need 2 things:
1

[2016-11-11 14:07] #63 closed

[2016-11-11 14:09] SteveGrise commented on #86
Closed #63 but need to address issues in previous comments here and emails re: CIMWKSP.

[2016-11-14 22:41] SteveGrise commented on #79
Code was only checking one map not all maps. Should always check all maps, also should not need to do that if the layer is selected and passed as a layer object.

[2016-11-14 22:44] SteveGrise commented on #86
Will need further work if CIMWKSP= dataSource values are returned for SQL databases. If so, will need some help to complete a partial solution to that issue - which should be a new git issue.

[2016-11-14 22:44] SteveGrise commented on #85
Tested in dev environment, appears to be resolved.

[2016-11-14 22:48] SteveGrise commented on #84
This 'Exception caught: unable to update row' error can happen with update cursors after calling .updateRow(row). Will look into the specific issue.

[2016-11-14 22:50] SteveGrise commented on #81
Improved error messages if updating a Feature Service fails. Not sure why it would fail after 8000 features, looks like a problem communicating with the server or something else outside of the DA code.

[2016-11-14 23:03] ChrisBuscaglia commented on #81
Steve, were you able to reproduce this issue, I believe that it has to do with a geometry issue and is why I would suggest using the append.

[2016-11-15 00:15] SteveGrise commented on #81
My understanding is that I have been asked to address issues for the December release to minimize code changes. I have not looked at changing the code to use Append, it would be a significant change in the way the tools work. That is planned as part of the enhanced functionality after Dec 6.

There are several potential ways to read this issue so I need someone to clarify the request. For now I am

[2016-11-15 13:44] SteveGrise commented on #81
Also I don't understand how a bad geometry could come from a feature service but not load to a feature service? Are you talking about a different issue that was shp to Feature Service @ChrisBuscaglia ?

[2016-11-15 13:45] SteveGrise commented on #56
I have been able to reproduce this issue. Working on a solution.

[2016-11-15 20:17] SteveGrise commented on #56
Sometimes when the user clicks on the checkboxes at the bottom edge of the screen a click event is sent, but the box is not checked. Had to improve the code to filter out these clicks because when the DataGrid items are recreated it was adding the item the unclicked list twice and causing an exception.

[2016-11-15 21:10] SteveGrise commented on #84
This shapefile is 653MB and has 2249 geometry errors in it - mostly self-intersections and some null geometries. We should recommend that people import to File GDB and run Check/Repair Geometry tools on shapefiles if they have issues loading. This has been the best practice for a long time, and when I run CheckGeometry the tool takes ~9.5 minutes to run so I do not recommend adding this type of ch

[2016-11-15 23:28] SteveGrise commented on #84
I repaired the geometry for that dataset and ran the tools several times to another file gdb (since the error was on intermediate FCs no need for slower feature service). Assume this resolves the issue unless testing finds something new.

[2016-11-15 23:31] SteveGrise commented on #81
I believe @ChrisBuscaglia comments are related to #84. The best I can do when feature service updates fail is write a better error message since Append would involve significant rework.

[2016-11-16 18:33] ChrisBuscaglia commented on #84
@SteveGrise I used the standard append tool to append the non-repaired SHP to a FGDB FC and it worked successfully.

[2016-11-16 18:36] SteveGrise commented on #84
@ChrisBuscaglia yes, file GDB will accept bad geometries, the comparable
test is to try to load to an enterprise GDB, or to run check/repair
geometries. SDE is not tolerant of self-intersections and null geometries.

On Wed, Nov 16, 2016 at 1:33 PM, Chris Buscaglia <notifications@github.com>
wrote:

[2016-11-16 20:05] ChrisBuscaglia commented on #84
@SteveGrise I understand that bad geometries have caused some problems in the past when copying and pasting FCs to enterprise GDBs.  I just appended the 900,000 parcels sourced from a SHP to a SQL Server 2014 database without error.  If this is failing at the intermediate dataset (which is a FGDB) I'm wondering why the geometries would be an issue anyway.  Were you able to reproduce the original i

[2016-11-16 20:25] ChrisBuscaglia commented on #81
@SteveGrise This is a different issue and different source data than #84.

[2016-11-16 21:27] SteveGrise commented on #84
The issue was that the SHAPE_LEN field is in the config file but not the exported dataset. Apparently asking for the shapefile shape_length field did not return the expected result when the file was created.

This led to a larger issue that if fields are not present in the intermediate dataset then they cannot be included in the field calculator. The updateCursor include a field that was not in th

[2016-11-16 21:38] SteveGrise commented on #81
The best I can do is write a better error message if a feature service update fails for the December release. In that case the server response did not include ['addResults'] and printed the error above.

[2016-11-16 21:39] ChrisBuscaglia commented on #84
OK - so this has been addressed?

[2016-11-16 21:41] SteveGrise commented on #84
see the check-in above.

[2016-11-16 21:53] ChrisBuscaglia commented on #84
@SteveGrise ok, thanks Steve.

[2016-11-16 23:48] SteveGrise commented on #84
Note that much later in processing a geometry error causes the process to fail:
![image](https://cloud.githubusercontent.com/assets/4749060/20370512/1a744ab0-ac2d-11e6-8fca-c04db4a492b6.png)

[2016-11-17 14:10] SteveGrise commented on #84
After repairing the geometry I get a similar message:
![image](https://cloud.githubusercontent.com/assets/4749060/20392391/a3ef1ee6-aca5-11e6-8b0c-227736ffeb4f.png)

[2016-11-17 14:13] SteveGrise commented on #84
If I skip simplifying the geometry, the features are deleted but it appears converting the feature class to json fails at the start of the add features process. I don't think this has to do with the geometry, maybe it is just the feature class is too large to convert in one chunk.

![image](https://cloud.githubusercontent.com/assets/4749060/20392476/0668f1a0-aca6-11e6-814a-df6643218f4c.png)

[2016-11-17 17:37] SteveGrise commented on #84
@ChrisBuscaglia @NikkiGolding a decision will need to be made about switching to using arcpy.Append instead of the feature service urllib update approach used today. Chris is requesting this change. On the other hand, I have heard concerns about making significant changes in the code before the December release. Note that the plan for the next release after this December release includes using arc

[2016-11-17 17:50] SteveGrise opened #91 "Polygon simplification process failing on ArcGIS Pro 1.4"
I cannot get arcpy.SimplifyPolygon_cartography to work with more than about 10k features at a time using the data in Issue #84. Whether from my DA script or an ArcGIS Pro Model it crashes Pro after loading the data into memory (per progress bar update).

I tried with the original 800k+ features, 100k features, and 10k features. The first 10k records work, the second 10k records will crash Pro. I i

[2016-11-17 21:25] SteveGrise commented on #91
No luck today. I can simplify in ArcGIS desktop successfully, it crashes Pro 1.4 every time with this data. I have reduced from 800k features to a subset to avoid the out of memory error, but it still fails - likely with some specific features.

I have tried with repaired and unrepaired geometry, same results from what I can tell.

[2016-11-17 21:26] SteveGrise commented on #91
Here's the successful output in ArcCatalog 10.3 for the first 100k features.

![image](https://cloud.githubusercontent.com/assets/4749060/20408245/975135f6-ace2-11e6-8442-75fa4df25601.png)

[2016-11-17 21:53] SteveGrise commented on #91
Here's the successful output from Pro 1.3 for the same dataset.
![image](https://cloud.githubusercontent.com/assets/4749060/20409130/66692698-ace6-11e6-9804-e9bf66861cab.png)

[2016-11-17 22:56] SteveGrise commented on #91
Also confirmed the latest DA build works for these 100k features on Pro 1.3. Looks like a bug in Pro 1.4

[2016-11-18 16:52] ChrisBuscaglia commented on #91
@SteveGrise I'm able to reproduce.  I'm not able to run simplify, and the parameters have changed slightly since 1.3.

@chris-fox do you know who works on generalization these days to report?

[2016-11-18 21:11] #84 closed

[2016-11-18 21:24] ChrisBuscaglia commented on #91
[code]

[2016-11-19 00:30] ChrisBuscaglia commented on #91
@SteveGrise @NikkiGolding @jessnoo

This probably needs to be a separate issue - add Features to a (hosted) service fails to upload with large datasets (800,000 polygons).

The error is related to the JSON being constructed - it's too large and the reason for the simplification routine originally added.  This means that the routine is needed if we want to pursue this for December using this method

[2016-11-19 02:18] SteveGrise commented on #91
I saw the same thing when I skipped simplification. If we can resolve this
#91 issue then the second one goes away, otherwise we'll have to deal with
this too.

On 18 Nov 2016 7:30 p.m., "Chris Buscaglia" <notifications@github.com>
wrote:

[2016-11-21 15:50] SteveGrise commented on #87
Fixed the issue, ready for testing.

[2016-11-21 15:51] SteveGrise commented on #73
Most changes committed earlier, one addition made today *.txt to exclude list.

[2016-11-21 15:59] SteveGrise commented on #77
Updated.

[2016-11-21 16:35] ChrisBuscaglia commented on #91
@SteveGrise this has been addressed with ArcGIS Pro 1.4 Alpha 4.  Tested and verified @LindsayThomas can we get Steve this cut?

[2016-11-21 16:36] ChrisBuscaglia commented on #87
@chris-fox can you please verify and close when ready?

[2016-11-21 17:05] LindsayThomas commented on #91
@ChrisBuscaglia @SteveGrise do you have access to this cut via the Early Adopter program?

[2016-11-21 17:41] jessnoo commented on #85
verified with sprint 1 drop for dec 2016 release

[2016-11-21 17:41] #85 closed

[2016-11-21 18:10] jessnoo commented on #79
validated with sprint 1 drop for dec 2016

[2016-11-21 18:10] #79 closed

[2016-11-21 18:38] SteveGrise commented on #91
Looks like it:
[image: Inline image 1]

On Mon, Nov 21, 2016 at 12:05 PM, Lindsay Thomas <notifications@github.com>
wrote:

[2016-11-21 18:41] SteveGrise commented on #91
@ChrisBuscaglia @NikkiGolding @jessnoo @LindsayThomas Looks like I can get to the Alpha 4. Just want to confirm that Sprint2 will involve dev/release/test on this version, not Alpha3, correct ?

[2016-11-21 19:33] ChrisBuscaglia commented on #91
@SteveGrise Correct, we will move all testing to Alpha 4 (retest anything that has been verified on Alpha 3).

[2016-11-21 20:06] jessnoo commented on #86
Validated with fgdb > egdb and fgdb > feature service.  Needs more testing, but with Sprint one, basic sanity is passing.

**Test Cases:**

1. Create a mapping file using layers in a map, then delete the map and run Append and Replace
2. Run Append and Replace tools in command window (outside of Pro application)

Potential gotcha is the licensing of the python process and if Organizational resourc

[2016-11-21 20:06] #86 closed

[2016-11-21 21:02] SteveGrise commented on #89
I have tried several approaches. Typically what I see is that the portion of the map that was displayed at a certain scale is erased after Append Data, but Replace Data correctly updates the screen.

If you mouse-scroll out or in the screen contents are correct, but that scale is not displayed. If you pan left/right there are gaps in the screen as shown below:

![image](https://cloud.githubusercon

[2016-11-21 23:43] ChrisBuscaglia commented on #56
@SteveGrise I still can reproduce this one.  This was addressed with the latest addin from develop, right?

I can "highlight" a row by clicking to the right of the checkbox, clicking again right of the checkbox crashes ArcGIS Pro.

![gifcrash](https://cloud.githubusercontent.com/assets/5614261/20505368/3b5669ca-b001-11e6-82b5-203601407c68.gif)

[2016-11-21 23:52] SteveGrise commented on #56
@ChrisBuscaglia Looks like a different click issue. Will have to debug, strange behavior...

[2016-11-22 00:10] ChrisBuscaglia commented on #81
Looks good

[2016-11-22 00:10] #81 closed

[2016-11-22 14:06] SteveGrise commented on #56
@ChrisBuscaglia I have a fix, in this case a double-click near the checkbox starts a CellEdit operation. It looks like setting the DataGrid property IsReadOnly="True" prevents that from happening. Should I apply to the develop branch, Sprint1, or Sprint2?

[2016-11-22 15:23] SteveGrise commented on #56
@ChrisBuscaglia checked in several changes that I believe resolves the issue to the Sprint2 branch.

[2016-11-22 16:25] ChrisBuscaglia commented on #56
@SteveGrise sounds good - we'll test in Sprint 2.

[2016-11-22 16:42] chris-fox commented on #73
Verified in Sprint 2 branch

[2016-11-22 16:42] #73 closed

[2016-11-22 20:34] SteveGrise commented on #83
Exclude raster field from config files and field calculator.

[2016-11-22 21:06] chris-fox commented on #87
Verified in Sprint2 branch

[2016-11-22 21:06] #87 closed

[2016-11-22 21:07] SteveGrise commented on #89
Repro case:
Use GP DeleteRows
Use Data Assistant Append Data
The layer updated in the current map extent at the current scale is not updated, but if you zoom in and out it will refresh.

[2016-11-22 21:27] chris-fox commented on #89
You could explore setting the layer/feature class as a derived output of the tool. I believe GP notifies the map in this case that the layer/feature class is being modified in that case.

[2016-11-22 22:20] chris-fox commented on #83
Verified

[2016-11-22 22:20] #83 closed

[2016-11-22 23:40] SteveGrise commented on #89
​I see 2 problems with that:
1. The tools are set up to accept multiple input files, I suppose the
derived layer would only be the final target layer
2. In an earlier version I had it set up like this, and the added the
layer(s) to the map even if it was already there. I think I had some
feedback that this was undesirable but could check on the behavior again.​

On Tue, Nov 22, 2016 at 4:27 PM, Ch

[2016-11-23 14:12] chris-fox commented on #89
For the first item you can set a derived output parameter to be a multivalue, so this should work for multiple input files. For the 2nd item I can't speak for the rest of the team, but i just think this is the way GP tools work and we should just go with it.

[2016-11-23 14:46] SteveGrise commented on #89
Ok, will set it up to test.

On 23 Nov 2016 9:12 a.m., "Chris Fox" <notifications@github.com> wrote:

[2016-11-28 17:44] #77 closed

[2016-11-28 17:48] #56 closed

[2016-11-28 17:49] ChrisBuscaglia commented on #91
Closing this issue, revisit append with a future release - currently, Alpha 4 is working with the simplification process

[2016-11-28 17:49] #91 closed

[2016-11-28 17:49] jessnoo commented on #65
@SteveGrise What is the best way to test this? I understand that it has to do with the situation where the source and target field names are the same, but am confused about what the incorrect/unexpected behavior was.

[2016-11-28 17:51] ChrisBuscaglia commented on #89
@SteveGrise any updates on this one, anything for us to retest?

[2016-11-28 22:04] SteveGrise commented on #89
I'm reluctant to make a functional change in the tools based on a screen
refresh bug plus a lack of a 'redraw map' function in Pro.

I'm also not convinced it will solve the issue and/or create additional
issues.

On 28 Nov 2016 10:51 a.m., "Chris Buscaglia" <notifications@github.com>
wrote:

[2016-11-28 22:06] SteveGrise commented on #65
Have source and target names the same and apply any method other than copy
or none. This was failing to produce the correct result - the target value
was just behaving like copy no matter what was selected.

On 28 Nov 2016 10:50 a.m., "Jess Neuner" <notifications@github.com> wrote:

[2016-11-28 23:11] jessnoo commented on #65
Ah ok -- Thanks @SteveGrise

I will run through a sanity on all the methods to close this one out. In my previous testing, I did exercise a few with this base condition and did not have any issues.

- [ ] None
- [ ] Copy
- [ ] SetValue
- [ ] ValueMap
- [ ] ChangeCase
- [ ] Concatenate
- [ ] Left
- [ ] Right
- [ ] Substring
- [ ] Split
- [ ] ConditionalValue

[2016-11-29 01:41] jessnoo commented on #65
@SteveGrise with this test case, there were two methods that did not pass -- None and Substring.

Sample data:
[Issue65SampleData.zip](https://github.com/Esri/data-assistant/files/617915/Issue65SampleData.zip)

**None** -- expected that result value to be empty (null) even though a source field was mapped.  Alternate test cases:
(1) choose a source field with a different field name and choose null

[2016-11-29 01:42] jessnoo commented on #65
@ChrisBuscaglia FYI above

[2016-11-30 18:47] SteveGrise commented on #65
Issues created by previous fix. @jessnoo ready for retest.

[2016-11-30 18:50] SteveGrise commented on #89
This does appear to update the map layers. Note it does add layers to the map for Append and Replace now, this is a small functional change but avoids the refresh issue in testing.

[2016-12-01 18:41] jessnoo commented on #65
@SteveGrise can you create a pull request to develop for these changes?  looks like maybe they were made in your fork?

and, if necessary, recompile the addin?

i can validate and close the issue then.

@ChrisBuscaglia fyi

[2016-12-01 18:56] SteveGrise commented on #65
@jessnoo @ChrisBuscaglia pull request created from Sprint2 to develop, you should have the updated addin with that.

[2016-12-01 19:12] ChrisBuscaglia commented on #65
@jessnoo merged pull request into develop branch

[2016-12-01 19:45] jessnoo commented on #65
validated None and Substring methods fixed with commit https://github.com/Esri/data-assistant/commit/59d107689d831ddb44c5ca1ee1e52352e248670c

[2016-12-01 19:45] #65 closed

[2016-12-13 18:31] #70 closed

[2016-12-13 18:31] #69 closed

[2016-12-13 18:31] #66 closed

[2016-12-13 18:32] #68 closed

[2017-01-12 18:04] MikeMillerGIS opened #96 "Loading a subset of source data"
When selecting a layer, the path to the dataset is stored, regardless if you picked a layer in the toc, a lyrx file or a location on disk.  I would like to be able to load only a subset of source data.  Can we add the definition expression to the xml or point to a lyrx file file or some other alternative?

This is required for the UN work we are doing.

[2017-01-12 19:02] SteveGrise commented on #96
I think the solution will be to have a 'Source Where Clause' property that is similar to the current 'Replace By' clause for the Target dataset. We could probably default that to the definition query when a map layer is selected as an input.

The tools basically support Where clauses already because the Preview functionality has a row limit parameter that constructs a where clause. This functional

[2017-01-18 14:01] MikeMillerGIS commented on #96
Talking with @ChrisBuscaglia, we would prefer the tool utilize a lyrx file and not store the expression.  The lyrx file would be used to limit the results.  If the user selects a layer in the TOC, the lyrx file could be written to the same workspace as the xml

[2017-01-18 20:09] ChrisBuscaglia commented on #96
@MikeMillerGIS

Derived output GP tools (similar to what DA is) works on a selection set from a map layer.  I was suggesting that DA will also work this way.

Workflow:

1.  Map has multiple layers (with def. queries potentially)
2.  Operator chooses a layer in the input dropdown (source)
3.  Operator may have already selected features for that layer, or now chooses to select features
4.  Source-t

[2017-01-19 14:46] MikeMillerGIS commented on #57
Watching the tech transfer for 10.5/1.4 this week and I think Query layers would be the best approach here.  Then we can support any type of sql join to produce the layer that we need to load into the target.

@SteveGrise @ChrisBuscaglia what are your thoughts on this?

[2017-01-19 19:19] MikeMillerGIS opened #97 "ValueMap needs scroll bar"
After the number of maps exceeds the view, no scroll bar is shown
![image](https://cloud.githubusercontent.com/assets/2707285/22121488/4b189552-de52-11e6-9d20-09650639d942.png)

[2017-01-19 20:59] MikeMillerGIS opened #98 "Data, TargetFields and Source Fields in xml, is there a reason"
What is the purpose of storing them in the xml.  Can they be removed and just use the source to target field mapping?  They can pull from the layer to ensure any new fields are present.  This would help us as we are trying to construct the xml files from another process

@SteveGrise @pLeBlanc93

[2017-01-19 22:51] SteveGrise commented on #98
The list of source and target fields is used by the field mapping tool to
present the list of source and target datasets. There should be no problem
for other tools if they are not present in your mapping files.

Steve

On Thu, Jan 19, 2017 at 3:59 PM, Michael Miller <notifications@github.com>
wrote:

[2017-01-19 22:58] SteveGrise commented on #96
@ChrisBuscaglia @MikeMillerGIS I am using the .lyrx file approach for the new joined layer approach in development. We can take a look at that and discuss how to extend to other layers for the definition query. I was only concerned about the case where a user selects a feature service etc. that is not a map layer and they still want to have a definition query.

[2017-01-20 10:27] MikeMillerGIS commented on #98
My only concern is what happens if I generate the file and then add a Field to the target layer, how do I get that into the file?  I rather not recreate as I have some really big field maps.

Should there be a refresh file in DA?

@pLeBlanc93 do we need to do this on our end, merge an existing XML da file with the translation map to pick up missing fields?  My concern doing it from DA, is the DA d

[2017-01-20 16:59] SteveGrise commented on #98
We could add a field sync, there are a few tricky cases but it's possible.
Have you tried using the 'match library' functionally? You might find that
to be useful. Let's discuss...

On 20 Jan 2017 4:27 a.m., "Michael Miller" <notifications@github.com> wrote:

[2017-01-20 17:03] ChrisBuscaglia commented on #96
@SteveGrise

Feature services can be added to the map as a layer, the intermediate dataset created is a FGDB.

If a user selects a subset of the feature service, the intermediate dataset would be a subset of the feature service (.lyrx created from it).  Subsequent runs would use the .lyrx file to select the feature service input (source) and then create the intermediate dataset again from it.

[2017-01-25 16:46] MikeMillerGIS commented on #55
The drag and drop capability provides this, not a priority at the moment

[2017-01-25 17:38] MikeMillerGIS commented on #57
Looking at query layers, they only support Enterprise gdb, so for FGDB, the join approach is best, lets stick with that for now

[2017-01-26 18:54] MikeMillerGIS opened #99 "Exception caught: unable to cast DIAMETER to Double : 'None'"
Is this a valid exception?  My field map for this has other cast to 0, so I would assume Null in the source would be 0 in the result

@SteveGrise

[2017-01-26 18:58] MikeMillerGIS opened #100 "Exceeded max number of errors in dla.maxErrorCount: 20 Data Assistant Update Failed, see messages for details"
Where are the messages and how do I change the max error count?

[2017-01-26 19:06] ChrisBuscaglia commented on #100
https://github.com/Esri/data-assistant/issues/35

[2017-01-26 19:07] MikeMillerGIS commented on #100
thanks chris, guess I should have searched.

[2017-01-26 19:09] ChrisBuscaglia commented on #100
@MikeMillerGIS need to determine if it's a setting or just prints all the errors - not sure what the harm would be?

[2017-01-26 19:10] MikeMillerGIS commented on #100
I think we should just print the errors and not restrict them.  We could ask Steve to just remove this.

[2017-01-26 19:11] ChrisBuscaglia commented on #100
@MikeMillerGIS agreed.

[2017-01-26 19:15] ChrisBuscaglia commented on #100
change is here: dla.py -  `maxErrorCount` = 20 # max errors before a script will stop`

[2017-01-26 19:28] MikeMillerGIS opened #101 "Error creating source-target field"
Start Time: Thursday, January 26, 2017 2:26:09 PM
Running script SourceTargetMapping...
Source: C:\_MyFiles\GitHub\utility-data-models\Utility Network Data Migration\Water to UN\WaterUtilities.gdb\WaterDistribution\wCurbStopValve
Target: C:\Users\mich3661\Documents\ArcGIS\Projects\MyProject8\WaterUser@water.sde\Water.WATERUSER.Water\Water.WATERUSER.WaterDevice
File: C:\_MyFiles\GitHub\utility-data

[2017-01-26 19:31] MikeMillerGIS commented on #101
It ran when I did it again with a different file name.  So I wonder if I did something bad to the path.
this works
C:\_MyFiles\GitHub\utility-data-models\Utility Network Data Migration\Water to UN\CurbStopValves.xml

this did not.  Not sure where I got the wonky path.
C:\_MyFiles\GitHub\utility-data-models\Utility Network Data Migration\Water_to_UN\CurbStopValves.xml

[2017-01-26 19:35] MikeMillerGIS commented on #99
So it appears there is a conversion not preforming correctly.  My source field is a double, the target is int.  The preview dataset is creating a field of double.  This should be int to match the target, is that correct?
@SteveGrise

[2017-01-26 19:46] MikeMillerGIS commented on #99
Data for the repo
[ForSteve.zip](https://github.com/Esri/data-assistant/files/733405/ForSteve.zip)

[2017-01-26 19:55] SteveGrise commented on #99
Sounds like a bug, if Otherwise is 0 then that should be the value, also
None should be valid unless the field is not nullable.

On Thu, Jan 26, 2017 at 1:54 PM, Michael Miller <notifications@github.com>
wrote:

[2017-01-26 19:56] MikeMillerGIS commented on #99
I have a map for every value, I think it is a int to double issue.  The preview database has the source type, not the target type.

[2017-01-26 21:06] MikeMillerGIS commented on #99
error occurs line 493 in dlaFieldCalculator.  Val is None and this
valTest = float(val)

[2017-01-26 21:10] MikeMillerGIS commented on #99
Ahh I see the problem, it is looking for DomainMap and not ValueMap, line 391.  Change this will break any existing configs

[2017-01-26 21:11] MikeMillerGIS commented on #99
which actually is that you used getValueMap twice

[2017-01-26 22:55] SteveGrise commented on #99
@MikeMillerGIS committed a change to fix the typo and None value handling. Looks to me like this will work better for null source and/or target values, let me know if you have any issues.

Also FYI on fields with the same name and different types between source and target: the field calculator renames the fields, adds a new field with the target type, and then cleans up the fields after running so

[2017-01-26 23:06] SteveGrise commented on #99
Tested with CurbStopValves.xml. Appears to correctly populate 0/Unknown domain value.

[2017-01-26 23:14] previnWong opened #103 "After making XML file, reload crashes if FC has no records"
I made a mapping for FGDB FC to FGDB FC. The source has no records. I made the xml file, but when you try to load it back, it crashes Pro.

Here's the data to repo.
[voltageReg.zip](https://github.com/Esri/data-assistant/files/733863/voltageReg.zip)

[2017-01-27 16:05] MikeMillerGIS opened #104 "Change name of Append Data GP script"
@ChrisBuscaglia @SteveGrise should we change the name of the tool?  I was confused when I look at my history since there is a core append data command.

![image](https://cloud.githubusercontent.com/assets/2707285/22377594/8e323c2e-e480-11e6-9bc3-6912bc34bc6b.png)

[2017-01-27 16:25] MikeMillerGIS opened #105 "Value Map - Should Otherwise be required?"
When setting up a value map, should we require otherwise?  If a value is in the source and it does not have a value in the value map, is the source value used as is if otherwise is not specified?

If a value is not in the value map and otherwise is not specific, should we add a warning with teh value to let the user know they missed something?

@ChrisBuscaglia @SteveGrise

[2017-01-27 17:10] MikeMillerGIS opened #106 "Access all data, like the preview, to do manually manipulation"
@SteveGrise I know we discuss this tool and that the tool will run all the files and then let you work with the GDB and then pick up the process.  I see one issues with the preview gdb.

When working on the Utility Network, we only have 7 features class.  We are loading 20+ source FC's into those 7.  The staging GDB create a layer based on the target name.  So if the same target layer is listed mo

[2017-01-30 14:14] SteveGrise commented on #106
Yes, that is a reasonable change. In the preview case it's probably ok
because there is a datestamp appended every time it is run, but in the
staging case the source_target approach would be good - except there are
limits on file name length.

On Fri, Jan 27, 2017 at 12:10 PM, Michael Miller <notifications@github.com>
wrote:

[2017-01-30 14:18] SteveGrise commented on #105
Otherwise is meant for the special case where there may be a range of
source values for the same target. I think normally it is best to map all
values unless there is a case where the exceptions should all map to the
same value. In some cases this is valid so I do not see a need to indicate
that as an error/warning, on larger datasets it becomes quite noisy since
it is hard to know ahead of time h

[2017-01-30 14:21] SteveGrise commented on #104
It does use the underlying Append tool, but maybe 'Stage and Append Data'
would be better. With the intermediate/stage/preview addition it's worth
thinking about some changes to names to indicate what is actually
happening...

On Fri, Jan 27, 2017 at 11:05 AM, Michael Miller <notifications@github.com>
wrote:

[2017-01-30 15:11] SteveGrise commented on #96
Looks like I can already use .lyrx files as inputs to the tools, will need to do some testing to verify functionality and ensure Definition queries work as expected.

[2017-01-30 15:13] SteveGrise commented on #60
Need to do work on domains that do not have matching source/target values - not working correctly. Also need to support subtypes/domains in UI/selections somehow.

[2017-01-31 19:48] SteveGrise opened #107 "Stage Data to Intermediate dataset"
Enhancement to support staging data to temporary tables, doing work on those file gdb datasets, and then providing the option to Append/Replace from the intermediate datasets.

[2017-02-01 16:21] MikeMillerGIS opened #108 "Preservation of Global IDs"
In testing, we found that you can preserve global ids using the (arcpy.Copy)[http://pro.arcgis.com/en/pro-app/tool-reference/data-management/copy.htm].  The downside of using this, I do not think it can filter data prior to copy, it would have to be deleted after.

We are still pushing the dev team to support the preserve global id on FGDB-> FGDB

[2017-02-01 17:21] SteveGrise commented on #96
Append will not accept a .lyrx file as input:
![image](https://cloud.githubusercontent.com/assets/4749060/22517990/f8071fc4-e878-11e6-9b13-614a0e742ee7.png)

[2017-02-01 17:42] MikeMillerGIS opened #109 "Staging data - Expose DLA.gdb location"
Now that we are exposing the dla gdb, can we allow the user to specify the location?  In discussion, can we add this in the source to target mapping?

[2017-02-01 17:51] MikeMillerGIS opened #110 "Overlapping source domains codes with subtypes"
In the case where you are mapping domain to domain, if the source has subypes and a field with different domains, if the codes overlap, currently the code does not process the rows by subtype.

[2017-02-01 17:58] ChrisBuscaglia commented on #109
@MikeMillerGIS if this is added, I'd recommend that we put this in the standard settings location.  @SteveGrise I do think that this will require a bit of testing since a number of issues were resolved in regards to project GDBs and moving it to the dla.gdb.

[2017-02-01 18:12] MikeMillerGIS opened #111 "DomainMap - Rename columns in the UI"
Change Source Value and Target Value to describe what the user is looking at

[2017-02-01 18:28] MikeMillerGIS opened #112 "Make xml file portable"
Can we expose an option to store relative path option in the source-target map so the layers are relative to the project so we can share a project with configurations with another machine

[2017-02-01 18:34] MikeMillerGIS commented on #96
As discussed, can we try
layer = arcpy.mp.layer('path to lyrx')
layer_object = layer.listLayers()[0]

[2017-02-01 18:41] MikeMillerGIS commented on #108
Working with Dev, they agreed to enable this setting for FGDB- FGDB

Once installed, verify Global IDS are preserved for both:
- [ ] FC to FC
- [ ] Append

[2017-02-06 18:37] SteveGrise commented on #111
Changed to Source Domain Values and Target Domain Values

[2017-02-06 18:38] SteveGrise commented on #106
Staging is addressed by fix for #117 - this issue addresses the intermediate dataset name only.

[2017-02-06 20:10] SteveGrise commented on #96
Seems to be working with a few changes to other code:
        layer = arcpy.mp.LayerFile(source)
        view = layer.listLayers()[0]

[2017-02-06 21:04] SteveGrise commented on #96
@MikeMillerGIS @pLeBlanc93 I'm struggling to pick up a layer file as a parameter. From what I am seeing the .lyrx file is converted to a layer before it is passed to the GP tool, then I don't have a way to get the file path of the original file...

![image](https://cloud.githubusercontent.com/assets/4749060/22666273/ec919730-ec85-11e6-8303-bfa225bed394.png)

[2017-02-06 21:19] MikeMillerGIS opened #113 "Ignore field case"
@SteveGrise I have found that when I switch databases, which may force a case change, the field calculator part of DA fails.

Can we add the following function and replace all names.index() with it?  I tested this and it works nicely

[code]

[2017-02-06 21:21] SteveGrise commented on #96
I think I have a solution with:
source = arcpy.GetParameter(0) # source dataset to analyze
sourceStr = arcpy.GetParameterAsText(0) # source dataset to analyze

then I replace the source value when the sourceStr value ends with .lyrx:
def checkIsLayerFile(val,valStr):
    # for layer file parameters the value passed in is a layer but the string version of the layer is a path to the lyrx file...

[2017-02-06 21:21] MikeMillerGIS opened #114 "Speed up the iteration of fields"
With a lot of fields this function does a ton of looping, to speed it up, can we convert nm to a dict, with the field name as the key?  Creating this dict once would speed this up a lot.  @SteveGrise I am happy to make this change and submit a PR.
https://github.com/Esri/data-assistant/blob/master/ShareGISData/GPTools/arcpy/dlaFieldCalculator.py#L79

Case insenstive dict below

[2017-02-06 21:22] MikeMillerGIS commented on #114
[code]

[2017-02-06 21:23] MikeMillerGIS opened #115 "Function for feature class name"
In case you where interested, found a great way to parse a string.

instead of .rfind("."), use rpartition(".")[-1]

This always gets just the FC name regardless of the string
return os.path.basename(os.path.normpath(dataset)).rpartition('.')[-1]

[2017-02-06 21:30] SteveGrise commented on #114
Sure, if you have the logic together I'm happy to test and verify what you
come up with.

On Mon, Feb 6, 2017 at 4:21 PM, Michael Miller <notifications@github.com>
wrote:

[2017-02-06 21:32] SteveGrise commented on #113
Yes, that is a good thing to fix.

On Mon, Feb 6, 2017 at 4:19 PM, Michael Miller <notifications@github.com>
wrote:

[2017-02-06 21:40] pLeBlanc93 commented on #96
Yes, GP wraps layer(x) files that are passed as parameters as a special `geoprocessing` object that is slightly different.

Grabbing the parameter both ways was the best way I came up with as well.

[2017-02-06 21:42] SteveGrise commented on #109
The layers are added to the map after processing, and the layer data source properties contains the location of the files...

[2017-02-06 21:45] SteveGrise commented on #96
@pLeBlanc93 thanks!

[2017-02-06 21:50] MikeMillerGIS commented on #113
pr pushed against correct branch.

[2017-02-06 21:51] MikeMillerGIS commented on #109
I see what, when I initially ran it, I did not have a map I think or never looked at it

[2017-02-06 21:52] MikeMillerGIS commented on #114
I can look at making that change.

[2017-02-06 21:59] MikeMillerGIS commented on #114
@SteveGrise in the PR, added line comments

[2017-02-07 14:57] SteveGrise commented on #114
Made one fix to the code, otherwise looks good.

[2017-02-07 16:30] MikeMillerGIS opened #117 "Change encoding from utf-08 to ISO-8859-1"
encoding='utf-8' will cause spanish characters to fail

[2017-02-07 16:42] MikeMillerGIS commented on #114
resolved, thanks Steve

[2017-02-07 16:42] #114 closed

[2017-02-07 16:42] MikeMillerGIS commented on #113
resolved, thanks!

[2017-02-07 16:42] #113 closed

[2017-02-07 16:55] MikeMillerGIS opened #119 "Error in stage when running tool in pro"
Traceback (most recent call last):  File "C:\Users\mich3661\AppData\Local\ESRI\ArcGISPro\AssemblyCache\{28142961-b645-420f-ba2a-72bcf8212558}\GPTools\arcpy\dlaStage.py", line 92, in <module>    main()  File "C:\Users\mich3661\AppData\Local\ESRI\ArcGISPro\AssemblyCache\{28142961-b645-420f-ba2a-72bcf8212558}\GPTools\arcpy\dlaStage.py", line 31, in main    stage(xmlFileNames)  File "C:\Users\mich3661

[2017-02-07 17:06] MikeMillerGIS commented on #119
Installed, please verify

[2017-02-07 22:10] SteveGrise opened #120 "Need to get domains from layerfiles - for Enterprise GDBs"
@MikeMillerGIS @pLeBlanc93 @ChrisBuscaglia Looks like .lyrx files will be a better way to store SQL DB connection properties rather than creating a .sde connection file location.

I need some help to figure out how to get from the .lyrx string to the feature class/domains for DomainMapping use. Right now I have:

using (ArcGIS.Core.Data.Geodatabase geodatabase = new Geodatabase(db)) // this is dep

[2017-02-13 18:45] SteveGrise commented on #57
Completed work on domain mapping to support .lyrx files and other sources.

[2017-02-13 18:47] SteveGrise commented on #61
Have tested GlobalID handling with Sql DBs and also ensured that domain mapping and other functionality will also work with tables.

[2017-02-13 18:48] SteveGrise commented on #120
Have a resolution for this. Will now obtain domain values for .lyrx, file gdb, and Sql gdb cases.

[2017-02-14 16:18] #109 closed

[2017-02-14 16:18] MikeMillerGIS commented on #108
Talking with dev again, they are not going to expose this, so the only valid workflow is EGDB -> EGDB
Needs verification

- [ ] EGDB -> EGDB

[2017-02-14 16:20] MikeMillerGIS commented on #105
- [ ] Test a value mapping where a value is not mapped and otherwise is not used, ensure an error is not presented

[2017-02-14 16:22] MikeMillerGIS opened #121 "Community Parcels testing"
ensure the new version does not break the existing configurations and workflows

[2017-02-14 16:23] MikeMillerGIS opened #122 "Community Addressing workflow"
ensure the new version does not break the existing configurations and workflows

[2017-02-14 16:26] MikeMillerGIS commented on #103
@SteveGrise Do you know if this is still an issue?  I will add it to the milestone for testing and if a bug, move it version 3

[2017-02-14 16:26] #101 closed

[2017-02-14 16:27] MikeMillerGIS commented on #100
- [ ] Create a bad mapping file that will create a series of errors, ensure all errors are printed

[2017-02-14 16:29] MikeMillerGIS commented on #98
@SteveGrise Added this to v3 and wanted to look at removing the source and field definitions from the config file and just read them into memory from the layer when the file it loaded

[2017-02-14 16:29] #67 closed

[2017-02-14 16:29] MikeMillerGIS commented on #72
Moving to v3

[2017-02-14 16:31] MikeMillerGIS commented on #82
@chris-fox @ChrisBuscaglia can you verify this is resolved?

[2017-02-14 16:32] MikeMillerGIS commented on #55
Closing as the drag and drop works

[2017-02-14 16:32] #55 closed

[2017-02-14 16:50] SteveGrise commented on #103
@MikeMillerGIS I'm not sure if this is fixed, should be on the list for testing/acceptance.

[2017-02-16 16:54] SteveGrise opened #123 "UI not loading saved domain maps correctly"
Values are saved correctly in file but Source Values are not reloaded correctly in the form.

[2017-02-16 17:22] MikeMillerGIS commented on #98
Maybe we can use a refresh button on the data mapping which could reload the fields and compare any changes, add any new and prompt the user for conflicts.

[2017-02-17 14:30] chris-fox commented on #82
Verified

[2017-02-17 15:34] SteveGrise commented on #123
While fixing this also added automatic mapping of domains where source coded value + description = target coded value + description. This is the logical behavior users will want when 2 domains are similar/identical.

[2017-03-01 19:15] previnWong commented on #123
@SteveGrise is this fix in the Enhancement-WA1 branch release addin?  I am still seeing a shift in domains.
I left the first row blank since there is no matching source domain
![image](https://cloud.githubusercontent.com/assets/11183838/23476583/177b9314-fe70-11e6-9062-cf3a035dd274.png)

After applying and you switch field and come back, the values are shifted.
![image](https://cloud.githubusercon

[2017-03-01 21:25] previnWong opened #124 "Domain Map - no resetting back to blank"
Using Domain Map, when you select a value, there is no way to revert it back to blank other than deleting and adding a row.
![image](https://cloud.githubusercontent.com/assets/11183838/23482055/8d35b76c-fe82-11e6-98bf-75c5d4a6c4ff.png)

[2017-03-01 21:32] previnWong opened #125 "Domain Map - make the drop down boxes combos instead?"
Right now, for Domain Map, if you load domains, if either source or target does not have domains, you get an error pop up message.  I think we need to handle single sided domain in either Domain Map or Value Map.   The logic is, my target has a domain, but my source does not, but I know the values of source that I want to load into a domain of the target.

This is where a combo box would help.  If

[2017-03-01 23:59] previnWong opened #126 "Error if you do not establish an initial connection"
If you open the Pro project and it contains data in an enterprise geodatabase, you need to establish a connection via the sde connection before you can create an DA config file.

If you open the pro project and try to make a config file right away, you get the following error:
[code]

[2017-03-02 15:20] SteveGrise commented on #123
Looks like a different issue to me. I spent time working on the save/reload
issue, it should be matching then correctly but this looks like a bug. I
did not have that issue in testing.

On 1 Mar 2017 11:15 a.m., "Previn Wong" <notifications@github.com> wrote:

[2017-03-02 15:27] SteveGrise commented on #123
which version are you using now? i can't tell from your message.

On 2 Mar 2017 7:20 a.m., "Steve Grise" <steve@vertex3.com> wrote:

[2017-03-02 16:27] previnWong commented on #123
I'm using this one.
https://github.com/Esri/data-assistant/tree/Enhancements-WA1/ShareGISData/bin/Release

[2017-03-02 19:21] previnWong opened #127 "copy needs to have additional clause to handle null"
If my source field allows null, but the target field does not allow null, and I use COPY, i need another clause/conditional to handle when I come across null.  Like the case of "OTHERWISE" in value map.

This shows up when you try and append data using the config file.

[2017-03-02 22:42] previnWong opened #128 "Failing to Append Data or Stage Data"
Having issues trying to append or stage data.  When as far as to

1) not have any fields maps
2) SetValue to some hard coded value
3) followed the datatype and required aspects of the target in the hard coded values
4) error making staging Data

![image](https://cloud.githubusercontent.com/assets/11183838/23530430/7c8291b8-ff56-11e6-9251-ed6c508857ad.png)

[2017-03-02 23:00] previnWong commented on #128
other data, i get these error
![image](https://cloud.githubusercontent.com/assets/11183838/23530962/f7d24da2-ff58-11e6-850a-36158d35e918.png)

[2017-03-02 23:16] previnWong commented on #128
Running the same script I have using a old Data Assistant addin from December, the process works.
@MikeMillerGIS
![image](https://cloud.githubusercontent.com/assets/11183838/23531409/22630028-ff5b-11e6-8e2b-721e418b0fa0.png)

[2017-03-09 16:24] SteveGrise commented on #126
I don't understand what 'you need to establish a connection via the sde connection' means. I'm having a hard time reading through these issues to figure out what the actual issue is and how to reproduce it.

[2017-03-09 16:28] previnWong commented on #126
If you are making a new data assistant config file.  If one of your target or source is an connection to an enterprise database through an SDE connection, you have to make sure you double click the connection to establish a connection to the enterprise DB before you run the command to create a data assistance config file otherwise you get the error pasted above.

[2017-03-09 16:28] SteveGrise commented on #128
What does 'followed the datatype and required aspects of the target in the hard coded values' mean? Do you mean that 'Default' for the terminalConfiguration field should be an acceptable value?

Without data, a config file, or a more complete listing of the errors on the updateRow() error I'm not clear what this is or how to reproduce it.

I need better examples and instructions on how to isolate

[2017-03-09 16:42] previnWong commented on #128
I have couple feature classes in an enterprise geodatabase as the target.  My source is a file geodatabase.  When I mapped the data from source to target, it does not load and I get an error shown in screenshot 1 and 2.

So I did a test and had no field mappings between source and target. Instead for all fields, I choose setValue and used **0** for numeric and **Unknown** for string fields.  I mad

[2017-03-09 16:44] SteveGrise commented on #126
I do not experience that problem. This is related to a question that I asked for some help on - auto-creating .sde files and/or using the CIM Workspace properties through python. The result I currently experience is:
![image](https://cloud.githubusercontent.com/assets/4749060/23760447/b7c6bbca-04bd-11e7-9f6f-cc49c06222cf.png)

[2017-03-09 17:00] SteveGrise commented on #128
I spent a while putting together a test case, and it works for me. Perhaps you have some required values in the SetValue fields or there is some other issue. Please try to provide me with a small sample dataset and your config file so I can more quickly work through these issues.
![image](https://cloud.githubusercontent.com/assets/4749060/23761184/ee0643a2-04bf-11e7-927a-f5e488cf2935.png)

[2017-03-09 17:16] SteveGrise opened #129 "(None) for source field and/or Method should result in null values"
The FieldCalculator was ignoring this case. If the source and target field names were the same the original values were being carried over to the target dataset rather than setting the values to null.

[2017-03-09 17:19] SteveGrise opened #130 "Arcpy da cursor field set to None is set to DefaultValue if there is a DefaultValue on the source field"
In testing setting values to None with Pro 1.4 this appears to be an issue on SQL server (have not tested others yet). In the example below the values are all set to None but in the database they are not updated.

![image](https://cloud.githubusercontent.com/assets/4749060/23761990/b4cbce74-04c2-11e7-989b-2c1474d12b79.png)

[2017-03-13 16:14] MikeMillerGIS commented on #60
Linking issues:
https://github.com/Esri/data-assistant/issues/125
https://github.com/Esri/data-assistant/issues/111
https://github.com/Esri/data-assistant/issues/120
https://github.com/Esri/data-assistant/issues/125

[2017-03-13 16:27] chris-fox opened #131 "Min width of control cause the dockpane to have to be expanded to display the select button"
Because of the nature of the Pro UI and dock panes being primarily oriented vertically it would be good if the dock pane did not enforce such large minimum widths of the controls so that you can work with them without having to stretch open the dock pane. Currently the minimum width forces the button beyond the visibility in the dock pane when first initialized. There seems to be enough room to fi

[2017-03-14 14:52] SteveGrise commented on #130
After looking into this further this is the expected behavior for a dataset with a DefaultValue. It may be desirable to clear the intermediate dataset DefaultValues so that values that the user did not intend are set in the output data.

I'm attaching a test case. Here there are 3 source values set to 0 (Unknown) for diameter domain. In the updateCursor the value is set to None (4th item):
![image

[2017-03-14 15:15] MikeMillerGIS commented on #130
Can you use clear the Default values when generating the intermediate datasets?

[2017-03-14 16:29] previnWong commented on #128
@SteveGrise. I took the most recent release https://github.com/Esri/data-assistant/tree/Enhancements-WA1/ShareGISData/bin/Release.  This version does not append data. It just freezes.  I'm trying to append from file geodatabase to file geodatabase. No field mapping, just hard coded setValues. It freezes at different points and does not finish.  Need to manually close, I let it sit for 15 minutes.

[2017-03-14 16:41] previnWong commented on #123
Verified resolved.

[2017-03-14 16:42] previnWong commented on #124
verified. resolved.

[2017-03-14 16:46] SteveGrise commented on #131
Good point, I was trying to hide that button from people so they won't change it casually, but I agree it's not very clean.

[2017-03-14 16:48] SteveGrise commented on #128
I'll take a look at the example, I haven't had any issues like this and it's not like I haven't done days of testing on this. I was not able to reproduce your previous issues.

[2017-03-14 16:54] SteveGrise commented on #130
Yes, that looks like the best solution. This will only happen when there
are source and target field names with the same name, so I should be able
to find an efficient way to just clear those fields.

On Tue, Mar 14, 2017 at 11:15 AM, Michael Miller <notifications@github.com>
wrote:

[2017-03-14 16:57] previnWong commented on #126
No longer seeing this issue. Verified.

[2017-03-14 17:08] previnWong commented on #111
verified.

[2017-03-14 17:31] previnWong commented on #119
verified.

[2017-03-14 17:37] previnWong commented on #97
verified. resolved.

[2017-03-14 17:42] previnWong commented on #88
On initial load, there is no scroll bar.
![image](https://cloud.githubusercontent.com/assets/11183838/23914298/cf6daafc-08a2-11e7-8bd0-b11f0e762881.png)

Once you do choose a config file, then the scroll bars appears.
![image](https://cloud.githubusercontent.com/assets/11183838/23914333/e7891e1e-08a2-11e7-80aa-b5be3afb060a.png)

[2017-03-14 18:33] previnWong commented on #96
verified creating new config maintains the path to the chosen lyrx file.  Have not verified if only subset of data copied over due to current append data issue.

[2017-03-14 18:53] previnWong commented on #57
Verified. Data Mapper shows both fields from left and right joins.

[2017-03-14 20:21] previnWong commented on #120
verified. shows domains from lyrx file pointing to EGDB.

[2017-03-14 20:36] SteveGrise commented on #112
This is a bit tricky since the files need to be relative to a folder. It's easy in the case where the files are in the same folder or sub-folder beneath a project, which will be the normal case. If that cannot be accessed when the tools are run on another project folder, the code will attempt to find the files/data relative to the Xml config file folder. If neither of those 2 cases work then an er

[2017-03-14 20:53] previnWong commented on #112
for the Data Mapping part of it, can you do like what the map doc does when it can't find a layer, just make the textbox with a red outline exclamation point and force the user to select the source and target.

[2017-03-14 21:07] SteveGrise commented on #128
There is an error setting one of the field values. The reason it is hanging is that I was asked to set the max number of errors to a very high number, and this is taking a long time to process. If you try Preview first then you would see the errors. That would be a better workflow until the Preview runs without errors.

I am looking into the specific reason why the update cursor is failing with th

[2017-03-14 21:48] SteveGrise commented on #128
subnetworkcontrollername is being created as a short integer rather than a string(64). There is an error is some code I copied from @MikeMillerGIS - my error. Will be resolved in my next commit.

[2017-03-14 21:55] previnWong commented on #128
Awesome! Thanks @SteveGrise.  Let me know when you have another cut to test.

[2017-03-14 22:16] SteveGrise commented on #128
it's committed now in the the release test folder.

On 14 Mar 2017 5:55 p.m., "Previn Wong" <notifications@github.com> wrote:

[2017-03-15 14:40] SteveGrise commented on #112
Also need to handle the new file names in .NET for domain loading and anything else that relies on it.

[2017-03-15 17:24] previnWong commented on #128
@SteveGrise The sample data used aboved works. But now when I try to use the production dataset and a layer file that has a join, the script does not seem to be able to read/export the rows to the preview dataset.
Throws the following error.
![image](https://cloud.githubusercontent.com/assets/11183838/23961808/5036ac94-0969-11e7-90b1-d4b8a06bb9db.png)
[transformerUnit_to_ElectricDevice.zip](https:

[2017-03-15 22:15] SteveGrise commented on #128
Are you able to export it? I fiddled with the join a bit to make sure there were no duplicate objectids (there would be an error message if you open the attribute table). I cannot export it with copy features:
![image](https://cloud.githubusercontent.com/assets/4749060/23973192/56e4a874-09ab-11e7-86ee-929df77cd7b6.png)

[2017-03-15 23:23] previnWong commented on #128
I haven't tried exporting it.  But did you open the layer file and make sure the path is correctly mapped to your environment?
        "dataConnection" : {
          "type" : "CIMRelQueryTableDataConnection",
          "sourceTable" : {
            "type" : "CIMFeatureDatasetDataConnection",
            "featureDataset" : "E_Distribution",
            "workspaceConnectionString" : "DATABASE=..\\..

[2017-03-15 23:27] SteveGrise commented on #128
i did get something working in my environment. at first there were multiple
objectids in the table, then i worked on the join. I'm not sure I'm seeing
the same thing you are, but even after i did some work it would not export.

On 15 Mar 2017 7:23 p.m., "Previn Wong" <notifications@github.com> wrote:

[2017-03-16 15:11] previnWong commented on #128
copy features did work for me.  no error.
![image](https://cloud.githubusercontent.com/assets/11183838/24003204/10aa3ee4-0a20-11e7-869f-835397201650.png)

[2017-03-16 15:29] SteveGrise commented on #128
I can get that to work too - with the multiple objectids. It does create a dataset with table_fieldname, I'm looking at an issue in the fieldmap code right now that may be this problem.

[2017-03-16 18:31] SteveGrise commented on #128
When I create a featureclass based on a view the geometry type is set to polygon - which won't export. Looking at the issue now.

[2017-03-16 18:45] SteveGrise opened #132 "When not preserving globalids feature class created from a layer file is creating a polygon featureclass"
Part of extract, was always exporting 0 rows.

[2017-03-16 18:46] SteveGrise commented on #132
One of several issues found under the catch-all bug #128

[2017-03-16 20:16] SteveGrise commented on #131
@chris-fox could not figure out how to snag the file browse icon but I think I covered the other issues.

[2017-03-16 20:18] SteveGrise commented on #125
For now we agreed to leave this as-is. Rather than change the domain mapping, it might be a good idea to have some import values tools for the ValueMapper - for example import from field values and import from domain.

[2017-03-16 20:29] SteveGrise commented on #103
Was not able to repro the exception, added some defensive code and tested with no //Data/Row in config file.

[2017-03-16 21:51] previnWong opened #133 "Domain Map not loading source list"
With the latest commit https://github.com/Esri/data-assistant/commit/0f4f343baab63ce3c1efe141fb9b4bd4ef0312ef

When creating a new config file, Loading domain on source and target with valid domains, shows a pop up error.  Source list is blank.
![image](https://cloud.githubusercontent.com/assets/11183838/24020057/df51d810-0a57-11e7-955c-26497e011d9d.png)

[2017-03-16 21:57] previnWong commented on #126
Behavior occurred again. open Pro project with data coming from a enterprise database (layers unchecked).  Create a new config file command.  Choose an enterprise gdb layer as a target from the drop down list.  press Run. get the following error.
![image](https://cloud.githubusercontent.com/assets/11183838/24020250/8f673c4a-0a58-11e7-87b8-ad449e3da1ab.png)

Now, go to the project panel, Databases

[2017-03-16 22:47] previnWong commented on #133
It cause by the relative(portable) path.  If I make a new config, the source is stored relative.
[code]
If i try Load Domain with that value, it shows the error pop up.
If I change the source path to the full path
[code]
If I load domain with this setting, it loads and reloads fine.

[2017-03-16 22:51] previnWong commented on #128
Seems to be loading the data fine into a EGDB.  Will load all assets into Utility Network and see what happens.

[2017-03-17 13:00] SteveGrise commented on #126
Since this is intermittent I suggest we call this a known issue and see if there are any product bugs or plans to address this in the core software. I don't think there is anything I can do in DA to address this.

[2017-03-17 13:10] SteveGrise commented on #133
In the NapervilleElectric Transformer dataset I have there is no domain on the PhaseDesignation field, I believe the tool is reporting this as designed.

![image](https://cloud.githubusercontent.com/assets/4749060/24044414/915281ec-0af1-11e7-855a-cc82b9dc6f48.png)

[2017-03-17 13:20] SteveGrise commented on #133
This is what I see with the latest build. I saved the layer file to a subfolder to be like your example.
![image](https://cloud.githubusercontent.com/assets/4749060/24044716/e500e148-0af2-11e7-8d64-af92860ed055.png)

[2017-03-17 14:55] previnWong commented on #133
You can try it on OperatingVoltage as well. it has a domain.  Change back the config to just have relative to the layer file.

[2017-03-17 15:11] SteveGrise commented on #133
I can't reproduce the issue:

![image](https://cloud.githubusercontent.com/assets/4749060/24049374/2c91accc-0b02-11e7-95ae-b8faaf45cf2a.png)

![image](https://cloud.githubusercontent.com/assets/4749060/24049430/529e1ef0-0b02-11e7-9ee2-be572c5d787b.png)

![image](https://cloud.githubusercontent.com/assets/4749060/24049349/1ad078e2-0b02-11e7-89dc-b291227526cb.png)

[2017-03-17 15:20] SteveGrise opened #134 "Append and Replace not working correctly if layer in subfolder"
Will fail near the start of the script - needs a different test for pre-pending the project folder.

[2017-03-17 15:21] SteveGrise commented on #134
Related to #112

[2017-03-17 16:10] SteveGrise commented on #134
Also Preview has a similar issue - need os.path.exists not arcpy.exists for layers.

[2017-03-17 20:42] previnWong commented on #133
@SteveGrise I can repro this every time.  Here is an animated gif to show the worflow I am doing.
![da_error_clip](https://cloud.githubusercontent.com/assets/11183838/24062021/0e33339e-0b17-11e7-9b51-a1e67c32d6a2.gif)

[2017-03-17 21:16] SteveGrise commented on #133
try the latest build on Github

On 16 Mar 2017 6:47 p.m., "Previn Wong" <notifications@github.com> wrote:

[2017-03-17 21:33] previnWong commented on #112
When you make a new config, it defaults the project name to:
**<Project>MyProject.aprx</Project>**
and it seems to be looking for that in this location:
C:\Users\Win10\Documents\ArcGIS\Projects\MyProject\
even though my project is located here:
C:\Solutions_UtilityNetwork\

If I change the Project tag to read
**<Project>UtilityNetwork_AssetPackage.aprx</Project>**
Then when I run the append data i

[2017-03-20 17:03] SteveGrise commented on #112
After looking at this further, I will only use a relative path to the Xml
file, and if source/target are in that folder or a subfolder of that then
the tools will use the relative path. Otherwise they will always use the
full path to the file on disk.

In many cases the xml file will be in a project folder, in that case and
other cases this appears to be the desired behavior.

On Fri, Mar 17, 2017

[2017-03-20 17:13] SteveGrise commented on #133
@previnWong I changed this so relative paths will only be used relative to the xml file location. This will avoid confusion with the project folder and should work well for what you are doing. I updated the ReleaseTesting build. You may have to recreate files or enter the path names in .xml files for Source and Target where the relative paths are not relative to the .xml file.

[2017-03-20 17:14] SteveGrise commented on #127
You should be able to use (None) as a source for mapping to a domain value now.

[2017-03-20 21:28] previnWong commented on #133
Tested, looks good.  From testing, it seems that if I select data from within the project folder, it will make it relative.  If the source/target is not in the project folder, it writes out the full path to data.

[2017-03-20 22:31] previnWong opened #135 "GlobalIDs not preserving when going from FGDB to EGDB"
When Appending data from a File GDB to an Enterprise GDB, the global IDs are not being preserved.  Even if you check the box in the environment variable to preserve ids
![image](https://cloud.githubusercontent.com/assets/11183838/24124609/bd8e6590-0d81-11e7-809a-cf59e4088b4d.png)

Message during tool run
![image](https://cloud.githubusercontent.com/assets/11183838/24124623/d28756a0-0d81-11e7-8008-

[2017-03-20 22:34] MikeMillerGIS commented on #135
That is correct, only egdb as a source will work

Sent from my Verizon Wireless 4G LTE DROID
On Mar 20, 2017 6:31 PM, Previn Wong <notifications@github.com> wrote:

When Appending data from a File GDB to an Enterprise GDB, the global IDs are not being preserved. Even if you check the box in the environment variable to preserve ids
[image]<https://urldefense.proofpoint.com/v2/url?u=https-3A__cloud.

[2017-03-20 22:36] previnWong commented on #135
Closing then.

[2017-03-20 22:36] #135 closed

[2017-03-20 23:07] previnWong commented on #134
verified.

[2017-03-21 15:43] previnWong commented on #131
The initial xml choosing is better,
![image](https://cloud.githubusercontent.com/assets/11183838/24155761/f1c0bd50-0e11-11e7-874d-aeac89dd935a.png)

but after file chosen, the UI is still off, but atleast the scrollbars help.
![image](https://cloud.githubusercontent.com/assets/11183838/24155819/19aafa60-0e12-11e7-97e1-e9c992520485.png)

[2017-03-21 16:54] previnWong commented on #130
@SteveGrise @MikeMillerGIS In the target, I added a default value in the diameter field (0).
![image](https://cloud.githubusercontent.com/assets/11183838/24159284/f7f03c28-0e1b-11e7-8825-2400ba699e07.png)

 When I map the source  values Unknown, None, and 1 inch all to None in the target,
![image](https://cloud.githubusercontent.com/assets/11183838/24159393/360421f0-0e1c-11e7-9586-9c108d695618.png

[2017-03-21 17:04] previnWong commented on #129
Verified, but with question raised in #130

[2017-03-21 17:06] previnWong commented on #126
Documenting it as a known behavior. limitation of Pro.

[2017-03-21 17:15] previnWong commented on #127
@SteveGrise this is not about domain mapping, this is about using COPY.  Seems it need to have a catch all in there.
![image](https://cloud.githubusercontent.com/assets/11183838/24160417/f95a3f02-0e1e-11e7-9af3-ac6589e526d0.png)

Need a fall back value in case rows in the source has nulls and the target field does not accept nulls.  This way, a value can be forced in like "unknown".

[2017-03-21 17:31] previnWong commented on #112
Verified.

[2017-03-21 17:54] previnWong commented on #106
Verified.  Only slight gotcha is that the preview FC has date and time to the minute stamped on the name.  If the the dataset is small, and you run couple FC previews within a minute, they will overwrite each other.  I think a note on the doc side is fine to cover this.
No issue in staging.

[2017-03-21 18:15] previnWong commented on #105
@MikeMillerGIS have it valued to just 2 values (1,2,5,6,7 are missing).  Left Otherwise blank.
![image](https://cloud.githubusercontent.com/assets/11183838/24163104/d2db0642-0e26-11e7-8f5e-68277d17b632.png)

Throws an error.
![image](https://cloud.githubusercontent.com/assets/11183838/24163125/dcef51e2-0e26-11e7-834e-29f63c1ea5d1.png)

Completes successfully only when all values are mapped or if O

[2017-03-21 18:18] MikeMillerGIS commented on #105
@SteveGrise what is the expectation here.  I feel any red error/exception is a bug.

[2017-03-21 18:41] previnWong commented on #59
@SteveGrise how is this implemented?  Is there a tag I put in the XML and at which node level?

[2017-03-21 19:22] MikeMillerGIS commented on #131
Have the same issue.  Can you set the box to auto size and move the button to the line below?
![image](https://cloud.githubusercontent.com/assets/2707285/24166610/3715bdf0-0e4a-11e7-84d4-370b06d94089.png)

[2017-03-21 19:25] MikeMillerGIS commented on #96
Should a Lyr file be supported?  When I select one, the path to the GDB FC is stored and not the lyrx file

![image](https://cloud.githubusercontent.com/assets/2707285/24166695/8ab321a0-0e4a-11e7-8106-500bb4325fdc.png)

[2017-03-21 19:38] MikeMillerGIS commented on #112
verified:

looks good, closing
![image](https://cloud.githubusercontent.com/assets/2707285/24167226/64dfaed8-0e4c-11e7-8a75-5f95d519f1aa.png)

[2017-03-21 19:38] #112 closed

[2017-03-21 19:54] MikeMillerGIS commented on #133
@SteveGrise @previnWong  what are your thoughts on otherwise.  I know we talked about this, it this better in the value map with the domain loader we discussed?

Here is my source data.  The casing has a huge list, only 4 are really used.  Feel weird not mapping them.
![image](https://cloud.githubusercontent.com/assets/2707285/24167826/9b2990b0-0e4e-11e7-8278-be711e42e1fb.png)

[2017-03-21 20:25] #97 closed

[2017-03-21 20:39] MikeMillerGIS commented on #60
@SteveGrise
When trying to resize the domain map window, the internal dialog resized, but the window does not
![image](https://cloud.githubusercontent.com/assets/2707285/24169730/ef76e5cc-0e54-11e7-8aac-b09ed2445f50.png)

[2017-03-21 20:41] #111 closed

[2017-03-21 20:45] MikeMillerGIS opened #136 "Domain Map - Unable to retrieve domain on subtype layer"
When using the domain map, if a field does not have a domain specified at the default field level and only has a domain specified at the subtype level, I am unable to retrieve a domain.

![image](https://cloud.githubusercontent.com/assets/2707285/24169882/52324c4c-0e55-11e7-9894-95fc8401957d.png)

[domanIssue.zip](https://github.com/Esri/data-assistant/files/859619/domanIssue.zip)

@SteveGrise @pr

[2017-03-21 20:45] MikeMillerGIS commented on #136
Repo data attached above.  Field is material

[2017-03-21 20:48] MikeMillerGIS commented on #60
Linking https://github.com/Esri/data-assistant/issues/136

[2017-03-21 20:48] MikeMillerGIS opened #137 "Resize domain map - resizing internal table, not box in dialog"
@SteveGrise
When trying to resize the domain map window, the internal dialog resized, but the window does not

![image](https://cloud.githubusercontent.com/assets/2707285/24169730/ef76e5cc-0e54-11e7-8aac-b09ed2445f50.png)

[2017-03-21 21:30] previnWong commented on #108
1) I copied a FGDB FC into an EGDB
2) I added Global ID to the FC in the EGDB
3) I mapped EGDB FC to another EGDB FC
4) In the enivornment setting, I checked "preserve global ids"
5) ran the append tool, saw this message
![image](https://cloud.githubusercontent.com/assets/11183838/24171675/9ee61a7c-0e42-11e7-9cac-5d70ac47754e.png)

6) after loading completed, selected features on the map, they don

[2017-03-21 21:43] #107 closed

[2017-03-21 21:43] #106 closed

[2017-03-21 21:59] previnWong commented on #103
verified, closing.

[2017-03-21 21:59] #103 closed

[2017-03-21 23:09] previnWong commented on #61
When creating a new XML file, tables that are in the TOC do not show up in the source and target datasource drop down.  Have to browse to them to get them.
![image](https://cloud.githubusercontent.com/assets/11183838/24174745/80d9578a-0e4f-11e7-8cc4-a04688516386.png)

![image](https://cloud.githubusercontent.com/assets/11183838/24174749/860ce334-0e4f-11e7-84ce-8b56607ae1db.png)

[2017-03-21 23:22] #134 closed

[2017-03-22 00:24] MikeMillerGIS opened #138 "Domain Map - Should there be an otherwise option"
@SteveGrise @previnWong  what are your thoughts on otherwise.  I know we talked about this, it this better in the value map with the domain loader we discussed?

Here is my source data.  The casing has a huge list, only 4 are really used.  Feel weird not mapping them.
![image](https://cloud.githubusercontent.com/assets/2707285/24167826/9b2990b0-0e4e-11e7-8278-be711e42e1fb.png)

[2017-03-22 00:25] MikeMillerGIS commented on #133
Still an issue, repo case and details on https://github.com/Esri/data-assistant/issues/136

[2017-03-22 00:36] MikeMillerGIS commented on #132
verified -
![image](https://cloud.githubusercontent.com/assets/2707285/24177017/1fe40746-0e76-11e7-9494-06dba60e122e.png)

[2017-03-22 00:37] #132 closed

[2017-03-22 00:38] MikeMillerGIS commented on #131
i see the scroll bar, i can live with that, back to verified and closing

[2017-03-22 00:38] #131 closed

[2017-03-22 00:43] MikeMillerGIS opened #139 "Appending and preserving Global IDS when target has global ID already"
Not much we can do, just logging as an FYI:

If the source feature and the target feature have the same Global ID and preserve global ID is used, the following error will be produced
 ERROR 000224: Cannot insert features - Underlying DBMS error [[Microsoft][ODBC Driver 13 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'UNAdmin.SERVICEAREA' with unique index 'UUID_42'. The dup

[2017-03-22 00:46] MikeMillerGIS commented on #130
Verified

[2017-03-22 00:46] #130 closed

[2017-03-22 00:48] MikeMillerGIS opened #140 "If the target has a default value and the incoming data is Null, should we set the default value"
Question raised by Previn:
My thought would be, if the the target is NONE, then if the field does not have a default value, it would store NULL as it is doing. But if the target field does have a default value, I would expect the default value to be used (in my test case 0). If there is a default value in target, my assumption is that the DB designers wants a value in there, not NULL.

My thoughts

[2017-03-22 00:48] #129 closed

[2017-03-22 00:56] MikeMillerGIS commented on #126
I can repo pretty easily.  @previnWong can you create a very simple python script as a repo case we can send Dev.  Looks like Steve is just get the connection properties from the layer, dissecting them, and calling createEnterpriseGDBConnection.

[2017-03-22 01:01] MikeMillerGIS opened #141 "Domain Map crash - 3-21 build in bin"
Cannot use a domain map on a EGDB to EGDB using lyrx files for both.  Just crashed pro.

[2017-03-22 01:03] MikeMillerGIS commented on #124
looks good

[2017-03-22 01:03] #124 closed

[2017-03-22 01:10] MikeMillerGIS commented on #141
went back to 3-20 version and same thing.  Create a new file, select load domains pro crashes.  I added the lyr files to the main, they have a valid connection.  Both lyrx files are from an EGDB.  I did create them earlier in the day and shutdown.  I am not trying to use them again and pro crash on load domain

[2017-03-22 01:14] MikeMillerGIS commented on #141
ah ha!  If I click the maps that those lyrx file were created from, i.e. they load.  the tool works fine.  Has to be related to https://github.com/Esri/data-assistant/issues/126.  The maps need to load to validate the initial connection

@ChrisBuscaglia we need to test lyrx files outside pro to see if the same issue occurs.  If this is a pro issue we need to get a repo case for dev

[2017-03-22 01:20] MikeMillerGIS commented on #123
verified also

[2017-03-22 01:20] #123 closed

[2017-03-22 01:23] MikeMillerGIS commented on #120
verified also

[2017-03-22 01:23] #120 closed

[2017-03-22 01:30] MikeMillerGIS opened #142 "Changing a value and how far the valid button is away from it"
Say I am using SetValue.  I set the value to 5, I then select another field.  That change to value of 5 is lost, it is reverted to the previous value.  Is this the expected behavior.  If so, we need to rethink this logic.  User will not click apply after each row change.  Especially when it is 2.4 nautical miles to the south east.

![image](https://cloud.githubusercontent.com/assets/2707285/241781

[2017-03-22 01:41] MikeMillerGIS commented on #108
I get the same thing.  It works when I create the source mapping point to featureclasses.  But when I used Lyrx file files, both from the toc and disk, I get the above issue.

[2017-03-22 01:45] MikeMillerGIS commented on #108
pointing to the layers, I get this error
Spatial References do not match, unable to preserve GlobalIDs

Here is the target:
![image](https://cloud.githubusercontent.com/assets/2707285/24178448/8c22c65a-0e7f-11e7-8793-9c23ea2d0fa5.png)

here is the source:
![image](https://cloud.githubusercontent.com/assets/2707285/24178466/a9317d36-0e7f-11e7-97ca-0a67542375a8.png)

[2017-03-22 01:47] MikeMillerGIS commented on #108
full log:
Running script AppendData...
Appending Data
Configuration file: C:\_MyFiles\GitHub\utility-data-models\SourceData\Water\SourceTarget2.xml
SourceData\Owner@SourceData.sde\SourceWater.UNADMIN.WaterDistribution\SourceWater.UNADMIN.wCasing
TargetData\Owner@TargetData.sde\WaterFromAP.UNADMIN.WaterFromAP\WaterFromAP.UNADMIN.StructureLine
Exporting Data from SourceData\Owner@SourceData.sde\Sour

[2017-03-22 01:48] MikeMillerGIS commented on #99
verified

[2017-03-22 01:48] #99 closed

[2017-03-22 01:52] MikeMillerGIS commented on #108
Ran is again on a new source-target file, same SDE source, Same SDE target, different layers - same issue:

Running script AppendData...
Appending Data
Configuration file: C:\_MyFiles\GitHub\utility-data-models\SourceData\Water\MainsToLines.xml
SourceData\Mains_defQuery.lyrx
TargetData\Lines.lyrx
Exporting Data from SourceData\Mains_defQuery.lyrx
WMAIN_View
View Created
1 source rows
Source and Ta

[2017-03-22 01:53] MikeMillerGIS commented on #96
Verified only subset of data was copied over

[2017-03-22 01:54] MikeMillerGIS opened #143 "Should Lyr file be supported"
Should a Lyr file be supported?  When I select one, the path to the GDB FC is stored and not the lyrx file

![image](https://cloud.githubusercontent.com/assets/2707285/24166695/8ab321a0-0e4a-11e7-8106-500bb4325fdc.png)

[2017-03-22 01:55] MikeMillerGIS commented on #88
verified

[2017-03-22 01:55] #88 closed

[2017-03-22 01:55] #82 closed

[2017-03-22 01:57] #119 closed

[2017-03-22 02:12] MikeMillerGIS commented on #136
Testing another field, it also occurs when the field has a domain, but if any subtype does not(which every field in the UN will have this as the 0/Unknown subtype is never set) it fails.

[2017-03-22 02:24] MikeMillerGIS commented on #142
think this is a bug, the button is on a southward migration.  Every time I select a new file, the button moves farther down
![image](https://cloud.githubusercontent.com/assets/2707285/24179361/14d6fcd2-0e85-11e7-97bd-190e75f1c229.png)

[2017-03-22 17:37] SteveGrise commented on #59
For Field elements, the UI IsEnabled property is bound to the IsEnabled Xml attribute:
![image](https://cloud.githubusercontent.com/assets/4749060/24212116/92140f94-0f04-11e7-91ff-4ed11c3c825b.png)

[2017-03-22 17:37] SteveGrise commented on #59
Result is the Method panel is not enabled:
![image](https://cloud.githubusercontent.com/assets/4749060/24212169/c1b9e534-0f04-11e7-8e3a-e152386cdfb5.png)

[2017-03-22 17:46] SteveGrise commented on #105
​I think there is a bug there - if there is no Otherwise I would expect the
function to behave like Copy.​

On Tue, Mar 21, 2017 at 2:18 PM, Michael Miller <notifications@github.com>
wrote:

[2017-03-22 17:55] MikeMillerGIS commented on #59
moved to wiki - https://github.com/Esri/data-assistant/wiki/General-Wiki

[2017-03-22 17:59] SteveGrise commented on #143
Yes, if you select the layer file from disk then the tool should store a reference to the layer file. If the layer is added to the map and then the map layer is used as an input then it should reference the feature class.

[2017-03-22 18:06] SteveGrise commented on #142
The expected behavior is that the stored values will only change when you select the Apply button. We could auto-save after each selection, but then there is an issue about allowing people to browse and experiment with options without saving the changes if they change their mind. We settled on the Apply button and then a Revert option on the file if you want to throw away a set of changes...

The

[2017-03-22 18:09] SteveGrise commented on #141
With layer files I am checking if (MapView.Active.Map != null) because I have to use a LayerFactory and create a layer to get to the properties.

We could extend that there should be a Map for the tools to work in general; I have avoided this except for this case and domains for web services - which I also needed a layer for.

[2017-03-22 18:12] SteveGrise commented on #140
I believe whatever is set in the Field Mapper is what people will want to see. For sure we don't want the source DefaultValue to be set.

I'm not sure how we would set the target DefaultValue even if we wanted to... and how we would explain that to a user if they specifically chose a different value in the Field Mapper settings. I don't think it is a good idea to require the users to understand al

[2017-03-22 18:24] SteveGrise commented on #138
For me, when there is a small list of values used, I would like to see an error if there is data that falls outside of those values. For example, if there is a 1.5" culvert I'd like to see that as an error.

I think Otherwise should be a special case where a group of known values should be set to something rather than anything else encountered should be set to something. The original Value Map Oth

[2017-03-22 18:27] SteveGrise commented on #127
Oh right, I think this is a ValueMap not a Copy.

[2017-03-22 18:31] SteveGrise commented on #105
But in the code it definitely is raising an error if there in no value map match and there is no Otherwise. I think we could assume that no Otherwise value means to copy the existing value or set to None - I'm not sure which would be the correct behavior if we relaxed the rules.

[2017-03-22 18:32] MikeMillerGIS commented on #138
So if a user have value that is not in the domain list, there is no way for them to map it here, it will directly copy over?  That is what I am thinking.  I seen many times when people use field calculator to set a value and it does not adhere.  But maybe you are right, this should be a data clean up issue in the source.

[2017-03-22 18:34] MikeMillerGIS commented on #105
yes, lets go with that.  If I do not map it, and I do not set an otherwise, push it in as is.  I think that is the correct approach.

[2017-03-22 18:37] SteveGrise commented on #138
I've been concerned at times about people logging issues about 'data corruption' and thought maybe warning them/preventing them from messing things up would be better.

The difference in the water diameter domains from source to target is a good example of how Copy would scramble pipe sizes. We could always print some warning messages when this happens but I think people don't look that closely un

[2017-03-22 19:16] MikeMillerGIS commented on #61
Add Table View to parameter list

[2017-03-22 19:27] MikeMillerGIS commented on #126
Can we change getCP to default to None?  maybe exclude Date also?

[2017-03-22 19:46] MikeMillerGIS commented on #142
Move apply button next to method, hide/disable when not required

[2017-03-22 20:13] MikeMillerGIS opened #144 "Multi levels of spatial reference check"
Check the Factory code, if 0
check the names, such as
  source.spatialReference.name
  target.spatialReference.name

do you still have to write the string to the xml in a case where the source and target do not match?

[2017-03-22 20:14] MikeMillerGIS opened #145 "Relax the restriction of the spatial reference have to match for preserving global ids"
Look at using environment variables and FC to FC to project

Use
arcpy.ListTransformations()
https://pro.arcgis.com/en/pro-app/arcpy/functions/listtransformations.htm

to get the transformations

[2017-03-23 00:38] MikeMillerGIS commented on #144
Could you leave the code as is where is checks the wkid, if the do not match, still put the wkt in the xml, but  in processGlobalIds, create a spatial reference object and compare the names there?

[code]

[2017-03-23 00:43] MikeMillerGIS commented on #108
@SteveGrise Here is the issue for lyrx files and SDE:

[code]

[2017-03-23 01:26] MikeMillerGIS commented on #108
I manually fix the spatial reference in the xml files to be the same and I did not get the error saying the layer types do not support preserving Global ID.  So maybe this issue is related to the spat ref.

[2017-03-23 02:37] MikeMillerGIS commented on #108
well, I was wrong.

Added some error messages and instead of CIM workspace, I actually get a path:
 source.dataSource =
 C:\Users\mich3661\Documents\ArcGIS\Projects\UtilityNetworkDataModels\UNAdmin@SQL_SERVER@WaterFromAP.sde\WaterFromAP.UNADMIN.Water\WaterFromAP.UNADMIN.WaterDevice

[2017-03-23 02:57] MikeMillerGIS commented on #108
@SteveGrise here is the fix for my issue where a path is being returned.

[code]

[2017-03-23 13:19] SteveGrise commented on #145
@MikeMillerGIS Do you have a coding example including the get/reset environment variables for featureclasstofeatureclass to do the transform?

[2017-03-23 13:24] SteveGrise commented on #144
I think it is problematic to compare only parts of the spatial reference properties. There is a high risk of coordinate shift that users would hate.

I would be more comfortable with just the raw string compare and letting the transformations code take care of the rest if there are differences.

[2017-03-23 13:25] MikeMillerGIS commented on #145
We just did something simple like this.

CurrentSystem = arcpy.env.outputCoordinateSystem

CurrentTrans =  arcpy.env.geographicTransformations

transformations = arcpy.ListTransformations(sourceCoordinate, targetCoordSystem, sourceExtent)

c.spatialReference, output_spat_ref.value, desc.extent)

arcpy.env.outputCoordinateSystem = targetCoordSystem

arcpy.env.geographicTransformations = transformat

[2017-03-23 13:26] MikeMillerGIS commented on #144
Makes sense

Sent from my Verizon Wireless 4G LTE DROID

[2017-03-23 13:35] MikeMillerGIS commented on #144
@SteveGrise last try, looks like the stuff we care about is in the beginning of the string:  What if we just compared that?

![image](https://cloud.githubusercontent.com/assets/2707285/24250076/0000df12-0fac-11e7-9f9a-3a9c7c032c2c.png)

[2017-03-23 13:55] MikeMillerGIS opened #147 "Error making feature layer"
Error below.  I think the issue is the where clause.  Fix in following comment

Used .lyrx filePath as source
Python Error messages:
Traceback Info:
  File "C:\Users\mich3661\AppData\Local\ESRI\ArcGISPro\AssemblyCache\{28142961-b645-420f-ba2a-72bcf8212558}\GPTools\arcpy\dla.py", line 230, in makeFeatureView
    arcpy.MakeFeatureLayer_management(sourceFC, viewName , whereClause, workspace, fStr)

[2017-03-23 13:56] MikeMillerGIS commented on #147
[code]

[2017-03-23 13:56] MikeMillerGIS commented on #147
I added a check for a blank where clause and defaulted that to a 1=1 to ensure it works.  I think a blank string is not support, so we could use 1=1 or None

[2017-03-23 13:58] MikeMillerGIS commented on #147
hmm, nope that the where clause.  I think I see the issue.  I am processing two or more sources in to a single target.  The result is the same view name
viewName:WATERDEVICE_ViewAppend

going to add a random name to this and see if it resolves it.

[2017-03-23 14:40] SteveGrise commented on #144
It's a simple approach, I'm fine with trying it that way.

[2017-03-23 14:49] MikeMillerGIS commented on #144
i can check it in then, still hunting down the make Feature layer issue.

[2017-03-23 14:49] SteveGrise commented on #145
Thanks, @MikeMillerGIS on your sp ref match code I see:
        sref_obj = arcpy.SpatialReference(sref)
        tref_obj = arcpy.SpatialReference(tref)
        sref_obj.loadFromString(sref)
        tref_obj.loadFromString(tref)

Is it Ok to delete the first 2 lines or am I missing something?

[2017-03-23 14:52] MikeMillerGIS commented on #147
ok, think I tracked it down to specifying the workspace in the Make Feature Layer.  Setting this to None does nothing negative.

I also added a random name generation to the views.

[2017-03-23 14:55] MikeMillerGIS commented on #145
just pushed in an update.  I was tracking down the MakeFeature layer issue when I fix that part.  According to the help it should be

sref_obj = arcpy.SpatialReference()
tref_obj = arcpy.SpatialReference()
sref_obj.loadFromString(sref)
tref_obj.loadFromString(tref)

[2017-03-23 14:55] MikeMillerGIS commented on #145
wkt = "GEOGCS['GCS_WGS_1984',DATUM['D_WGS_1984',SPHEROID['WGS_1984',6378137.0,298.257223563]],\
               PRIMEM['Greenwich',0.0],UNIT['Degree',0.0174532925199433]],\
               VERTCS['WGS_1984',DATUM['D_WGS_1984',SPHEROID['WGS_1984',6378137.0,298.257223563]],\
               PARAMETER['Vertical_Shift',0.0],PARAMETER['Direction',1.0],UNIT['Meter',1.0]];\
               -400 -400 10000000

[2017-03-23 15:14] MikeMillerGIS opened #149 "Value Map is failing on double field when source is null"
unable to cast maxopdis to Double  : '

[2017-03-23 15:28] MikeMillerGIS commented on #149
So, in a value map on a double field, when there is a null value and that is not mapped and other is not specified, it uses the whitespace of otherwise and trys to set that.

[code]

[2017-03-23 15:30] MikeMillerGIS commented on #147
resolved

[2017-03-23 15:30] #147 closed

[2017-03-23 15:31] MikeMillerGIS commented on #145
i will say implemented and closing for now

[2017-03-23 15:31] MikeMillerGIS commented on #145
wrong one

[2017-03-23 15:31] MikeMillerGIS commented on #144
implemented

[2017-03-23 15:31] #144 closed

[2017-03-23 15:33] MikeMillerGIS commented on #143
It is not, when selecting a lyr file from disk, it is apply the path to the GDB FC in the xml

[2017-03-23 15:50] SteveGrise commented on #126
I'm going to drop items from the argument list if they do not exist in the
connection properties.

On Wed, Mar 22, 2017 at 3:27 PM, Michael Miller <notifications@github.com>
wrote:

[2017-03-23 16:06] MikeMillerGIS commented on #100
did some bad mapping, worked

[2017-03-23 16:06] #100 closed

[2017-03-23 16:08] MikeMillerGIS commented on #149
linking: https://github.com/Esri/data-assistant/issues/105

[2017-03-23 16:08] #96 closed

[2017-03-23 17:33] MikeMillerGIS opened #150 "Error - variable does not exist causing runtime error"
dlaFieldCalculator.py", line 404, in getValueMap
    err = "Unable to find map value (otherwise) for " + str(targetName) + ", value = " + str(sourceValue)

@SteveGrise

targetName does not exist, should it be target value?

[2017-03-23 17:45] SteveGrise commented on #150
Should change method definition to:
getValueMap(targetName,sourceValue,field):

and call it from the setFieldValues function the same way - 'row' and
'names' are no longer used and there is some frankenstein code in here...

On Thu, Mar 23, 2017 at 1:33 PM, Michael Miller <notifications@github.com>
wrote:

[2017-03-23 17:48] MikeMillerGIS commented on #150
will do, will make that change and submit a PR, thanks

[2017-03-23 17:57] previnWong commented on #59
verified

[2017-03-23 17:57] #59 closed

[2017-03-23 20:03] SteveGrise commented on #143
I don't get in your example why one is a .gdb and the other is a .lyrx file. I tested here and it used the layer file.

[2017-03-23 20:19] MikeMillerGIS commented on #143
correct, I selected a lyr file in the GP Tool, it stored the path to the GDB.  I will double check

[2017-03-27 21:40] MikeMillerGIS commented on #108
@SteveGrise do you recall if a unique index on Global ID is required?  For some reason, my index of global id is not set to unique

![image](https://cloud.githubusercontent.com/assets/2707285/24379277/67fa748c-1314-11e7-9486-9ded016f331e.png)

causing this error
Source Dataset does not have a unique index on GlobalID field, unable to preserve GlobalIDs

[2017-03-27 21:44] MikeMillerGIS commented on #108
according to this, it does, why the heck would the default not be unique
http://pro.arcgis.com/en/pro-app/tool-reference/environment-settings/preserve-globalids.htm

[2017-03-28 13:37] SteveGrise commented on #108
I am not sure, I think it happens when data is copied from File GDB to SQL databases.

[2017-03-28 14:08] SteveGrise opened #152 "If Service Capabilities are not valid, Create New File appears to complete but does not write file"
Create New File appears to complete successfully if the service capabilities are not correct, but it actually exits without leaving an error message.

Raise an error message and do not write the file.

[2017-03-28 14:09] SteveGrise commented on #150
Updated in field Calculator code.

[2017-03-28 14:21] SteveGrise opened #153 "Preview Values prints 1.0 on numeric field if value is """
string value of empty string is 1

[2017-03-28 14:35] SteveGrise commented on #149
Normally the ValueMap otherwise value should be set to None so the Xml empty string issue does not happen. If that value is not present and the Xml file is saved externally to Pro then this can happen. I have tried to catch this as follows:
    if not found:
        if str(otherwise) != "None" or otherwise == None:
            if otherwise.startswith("\n ") or otherwise == "":
                othe

[2017-03-28 14:59] SteveGrise commented on #136
Needed to check if domain == null when looping through subtypes:
                else if (subtypes.Count > 0)
                {
                    List<string> domainNames = new List<string>();
                    for (int s = 0; s < subtypes.Count; s++)
                    {
                        ArcGIS.Core.Data.Subtype stype = subtypes[s];
                        Domain domain = thefield.Get

[2017-03-28 15:47] SteveGrise commented on #153
Actually the value was being overwritten by later valuemap values even if there was a match in the data grid. Change to only set to Otherwise value if no match found.

[2017-03-28 18:50] SteveGrise commented on #153
Also fix domain map preview to show the source value if no matching map value found.

[2017-03-28 18:52] SteveGrise commented on #138
Adjusted the domain map logic to set the new value to the source value so that the effect is to copy values that do not fit the domain map (such as null/None).

[2017-03-28 23:07] previnWong commented on #153
Preview shows "" now instead of 1.
![image](https://cloud.githubusercontent.com/assets/11183838/24431398/81054cec-13d0-11e7-91cb-9a2725284209.png)

But if I run the preview command, I get an error
![image](https://cloud.githubusercontent.com/assets/11183838/24431407/9132ec28-13d0-11e7-8cda-2ac32c8214c8.png)

[2017-03-29 00:57] SteveGrise commented on #153
setvalue is blank, that's what I'd expect to see for a number field

On 28 Mar 2017 7:07 p.m., "Previn Wong" <notifications@github.com> wrote:

[2017-03-29 15:28] previnWong commented on #153
The errors are valid, since the field is required and it's an integer, just wondering if the messaging is is not user friendly.  Ot just do a simple data type check and return a friendly message right away.

[2017-03-29 15:29] SteveGrise commented on #153
Yes, Preview Values could do type checking.

On Wed, Mar 29, 2017 at 11:28 AM, Previn Wong <notifications@github.com>
wrote:

[2017-03-29 18:36] previnWong commented on #142
Apply is next to the method chooser now. closing.

[2017-03-29 18:36] #142 closed

[2017-03-29 22:39] previnWong commented on #128
closing this now. seems to load fine.

[2017-03-29 22:39] #128 closed

[2017-03-29 22:41] previnWong commented on #133
closing this one, leaving #136 open till verified.

[2017-03-29 22:41] #133 closed

[2017-03-29 22:43] previnWong commented on #153
initial issue is fixed.  UI could show better message for type cast error, but closing since UI is minor

[2017-03-29 22:43] #153 closed

[2017-03-30 21:11] previnWong commented on #141
Maybe just put this in the wiki and doc "notes" to require a map in Pro to perform these tools.

[2017-03-30 21:19] previnWong commented on #150
@SteveGrise what is the workflow to test this?

[2017-03-30 21:49] previnWong commented on #136
verified.

[2017-03-30 21:49] #136 closed

[2017-03-30 22:20] SteveGrise commented on #150
It used to happen when there was no match for a ValueMap value. To test just leave otherwise blank and do an incomplete map on source values. The code should not be reachable anymore, it was a missing variable used in the python error message.

[2017-03-31 16:53] previnWong commented on #145
@SteveGrise still seeing mismatch SRID and global ids not preserving.
![image](https://cloud.githubusercontent.com/assets/11183838/24560465/c442ac74-15f7-11e7-91e9-731a3968074b.png)

![image](https://cloud.githubusercontent.com/assets/11183838/24560470/cb17fcac-15f7-11e7-9fb8-f21cfa9ba60d.png)

then the result from source and target
![image](https://cloud.githubusercontent.com/assets/11183838/2456

[2017-03-31 17:15] SteveGrise commented on #145
It's saying the spatial references do not match. I suppose we could just
ignore spatial refs since I added the transform code. You do not have to
manually select the 'preserve globalid values' and it will have no effect.

On 31 Mar 2017 12:53 p.m., "Previn Wong" <notifications@github.com> wrote:

[2017-03-31 17:18] previnWong commented on #145
Then is the global id preserving breaking?  I have the connections from both source and target as EGDB.

[2017-03-31 18:13] previnWong commented on #150
@SteveGrise no runtime python error.  But I see lots of errors (which I take as ok), but is it suppose to fail in the append process?
![image](https://cloud.githubusercontent.com/assets/11183838/24563410/0976a150-1603-11e7-9e0a-e2976ab51ecf.png)

[2017-03-31 19:14] SteveGrise commented on #150
Yes, ValueMap is not supposed to have unmapped values so those are errors,
and if there is no otherwise that is the correct message. Before the script
was failing to write the error message.

On Fri, Mar 31, 2017 at 2:13 PM, Previn Wong <notifications@github.com>
wrote:

[2017-03-31 19:14] SteveGrise commented on #145
It's telling you it will not attempt to preserve globalids because the
spatial references do not match.

On Fri, Mar 31, 2017 at 1:18 PM, Previn Wong <notifications@github.com>
wrote:

[2017-03-31 20:13] previnWong commented on #150
ok, I'll add notes in the wiki stating this.  ValueMap must have all mapped values, if not, Otherwise has to be used.
closing.

[2017-03-31 20:13] #150 closed

[2017-03-31 22:56] previnWong commented on #138
Seems to be working. I omitted some domain mapping and the value for code 15, just got copied over to target.
![image](https://cloud.githubusercontent.com/assets/11183838/24571828/af950778-1628-11e7-9471-352df152b09a.png)

[2017-04-03 15:55] SteveGrise commented on #145
@MikeMillerGIS @previnWong @ChrisBuscaglia I think we should change the logic so that the processglobalid function ignores spatial reference. The I should just handle the transformations as needed in the extract function. It seems like this will handle Previn's case better and be less confusing for other users. I am going to check in a fix that uses this approach.

[2017-04-03 16:14] previnWong commented on #105
@SteveGrise just trying to clarify the expected result.  So if Value Map is not fully defined for each value, and if Otherwise is not used, it will just perform copy of the missing values?

If so, I am not see that. I get an error and it fails to append.
![image](https://cloud.githubusercontent.com/assets/11183838/24619106/e07ff4f2-184d-11e7-94b4-c9573af0dae5.png)

[2017-04-03 17:29] previnWong commented on #108
Add note to recreate index post process to the wiki.
https://github.com/Esri/data-assistant/wiki/Recreate-GlobalID-index-after-running-tools

closing since we don't want to manipulate the user's data or schema.

[2017-04-03 17:29] #108 closed

[2017-04-03 18:14] SteveGrise commented on #105
The way it has always worked is that if it finds values that are not
mapped, and there is no otherwise value, then it is an error. The idea is
the user should map all of the values and we don't want to introduce data
copying quietly since that could not be what they wanted to happen.

On Mon, Apr 3, 2017 at 12:14 PM, Previn Wong <notifications@github.com>
wrote:

[2017-04-03 18:42] previnWong commented on #141
Add page in Wiki to tell users to have an open map in the pro project for best practice.
https://github.com/Esri/data-assistant/wiki/Have-a-map-in-the-project-when-using-this-tool

[2017-04-03 18:44] previnWong commented on #105
closing as working as expected by the determined workflow.

[2017-04-03 18:44] #105 closed

[2017-04-03 19:02] previnWong commented on #60
Closing this was verified by other issues that were resolved.

[2017-04-03 19:02] #60 closed

[2017-04-04 20:37] previnWong commented on #145
@SteveGrise Ran the latest add in.  Source and target are both EGDB.  I am still not seeing the GlobalIDs being preserved.

The mismatching SRID warning is now gone
![image](https://cloud.githubusercontent.com/assets/11183838/24677469/c51c3c04-193b-11e7-9f2a-9f9e4808c19e.png)

But the result, the globalids are still different.
Target
![image](https://cloud.githubusercontent.com/assets/11183838/246

[2017-04-05 13:39] SteveGrise commented on #145
I added a more explicit print message when it will not preserve globalids. If it had determined that globalids would be preserved you would have seen a message beneath the underlined message above "Proceeding to copy rows and attempt to preserve GlobalIDs".

You can try with the new version but it should just print that it won't preserve ids and you will see the same result. I am not sure what is

[2017-04-05 15:18] SteveGrise commented on #145
I suppose another direction we could go is always try to preserve globalids and just warn people when our logic says it might not work...

I tried testing with the Preserve setting with fgdb-fgdb and it didn't raise any errors...

[2017-04-05 15:36] SteveGrise commented on #145
Postgres test scenario:
Set env variable preserve globalids = True
export using featureclasstofeatureclass to file gdb
append from file gdb to sql db
check globalids in all datasets

[2017-04-05 15:43] SteveGrise commented on #145
also check intermediate dataset for unique index on the globalid field

[2017-04-05 16:21] SteveGrise commented on #145
@MikeMillerGIS @ChrisBuscaglia @previnWong update posted in ReleaseTesting folder. Keep logic the same but improve print better messages for any/all issues.

[2017-04-05 16:43] previnWong commented on #126
Adding note to establish a connection first before running tools to the wiki.
https://github.com/Esri/data-assistant/wiki/Ensure-Database-Connections-Before-Running-Tools

[2017-04-05 16:43] #126 closed

[2017-04-05 16:44] previnWong commented on #61
Closing.  Users will have to add tables using the add data icon instead of selecting from the drop down.

[2017-04-05 16:44] #61 closed

[2017-04-05 16:45] #57 closed

[2017-04-07 13:02] MikeMillerGIS commented on #142
@SteveGrise I like the new button location, but should preview be up there too?
![image](https://cloud.githubusercontent.com/assets/2707285/24801160/f902db36-1b70-11e7-99bf-81e29abf8064.png)

[2017-04-07 13:03] MikeMillerGIS commented on #149
Closing, I believe the root cause was an edited xml file.  New files do not have this issue

[2017-04-07 13:03] #149 closed

[2017-04-07 13:37] SteveGrise commented on #142
i think it gives a good visual location/confirmation whenever you hit
apply. otherwise you won't see it unless you go looking... open to
suggestions

On 7 Apr 2017 9:02 a.m., "Michael Miller" <notifications@github.com> wrote:

@SteveGrise <https://github.com/SteveGrise> I like the new button location,
but should preview be up there too?
[image: image]
<https://cloud.githubusercontent.com/assets/27

[2017-04-13 18:08] previnWong opened #154 ".NET file open error when dataset name contains .sde. (addin 4/17/17)"
Trying to load config file, but not able to (at default project location or user defined location)

![image](https://cloud.githubusercontent.com/assets/11183838/25017592/35c2aade-2039-11e7-9253-8616bfe40dc0.png)

![image](https://cloud.githubusercontent.com/assets/11183838/25017654/74d1d7e0-2039-11e7-8a92-3e35aa8b840c.png)

[2017-04-13 18:10] MikeMillerGIS commented on #154
Did you rename the project?  The project you have loaded is DA_Test,aprx, in the file it is MyProject.aprx

[2017-04-13 18:25] previnWong commented on #154
@MikeMillerGIS  I think that is a bug, I created a new project, specified the location and name, then I made a DA config file, and then that project XML value is what is stored, even though my project is at c:/download/DA_Test/

[2017-04-13 22:59] ChrisBuscaglia opened #155 "Preview Values dialog does not auto-expand to show entire resulting value"
Need to get addressed for release

[2017-04-13 23:01] ChrisBuscaglia opened #156 "Cannot append data with 4/12 release"
FGDB – FGDB (no GlobalIDs)
FGDB – FGDB (GlobalIDs on source)
FGDB – FGDB (GlobalIDs on target)
FGDB – Hosted Feature Service (no GlobalIDs)

[code]

[2017-04-13 23:03] ChrisBuscaglia commented on #156
[CommunityDatasets.gdb.zip](https://github.com/Esri/data-assistant/files/921075/CommunityDatasets.gdb.zip)

[2017-04-13 23:04] ChrisBuscaglia commented on #156
http://services.arcgis.com/b6gLrKHqgkQb393u/ArcGIS/rest/services/CommunityParcelsApril/FeatureServer/0

[2017-04-13 23:04] ChrisBuscaglia commented on #156
@previnWong @MikeMillerGIS

[2017-04-13 23:05] ChrisBuscaglia commented on #155
@previnWong @MikeMillerGIS

[2017-04-14 15:47] ChrisBuscaglia commented on #152
@SteveGrise This doesn't seem to be fixed with the 4/12 cut.

[2017-04-14 17:29] ChrisBuscaglia opened #157 "Do not check source feature service for edit capabilites - only check target feature service"
Start Time: Friday, April 14, 2017 10:25:44 AM
Running script SourceTargetMapping...
Source: KansasCityParcels
Target: Parcels
File: C:\Users\chri4819\Documents\ArcGIS\Projects\MyProject17\ServicetoService.xml
Used data source property
KansasCityParcels
Used data source property
Parcels
Service Name: KansasCityParcels
Service REST capabilities: "Query"
Service does not support: Create
Service does

[2017-04-14 17:32] #152 closed

[2017-04-14 17:54] ChrisBuscaglia commented on #156
XML works fine in current released Data Assistant

[2017-04-17 15:20] ChrisBuscaglia commented on #156
From Previn - check if Global ID exist first, instead of just listing it.

if arcpy.ListFields(source,sGlobalId,'GlobalID')[0].type == arcpy.ListFields(target,tGlobalId,'GlobalID')[0].type:

[2017-04-17 18:21] SteveGrise commented on #155
Expanded the minWidth property and set Width to Auto... and it was already user resizeable.

[2017-04-17 18:32] ChrisBuscaglia commented on #155
I just tried to size it, didn't know what worked and then realized I wasn't stretching the topmost column.

Thanks for the clarification, updated min. size and auto-sizing.

[2017-04-17 19:09] ChrisBuscaglia commented on #155
Looks good, closing

[2017-04-17 19:09] #155 closed

[2017-04-17 19:09] ChrisBuscaglia commented on #156
Fixed, closing issue

[2017-04-17 19:09] #156 closed

[2017-04-17 19:10] ChrisBuscaglia commented on #157
Fixed

[2017-04-17 19:10] #157 closed

[2017-04-17 21:56] ChrisBuscaglia opened #158 "Removing Default Value property from intermediate database fields"
What does this do?

`Removing Default Value property from intermediate database fields`

[2017-04-17 22:12] ChrisBuscaglia commented on #145
@previnWong is this addressed?

[2017-04-17 22:19] ChrisBuscaglia opened #159 "Stage data - why do original source fields remain?"
Stage data - why do original source fields remain? @MikeMillerGIS @previnWong

[2017-04-18 00:49] SteveGrise commented on #159
staging is different from preview, people want to manipulate the content
and maybe check that new fields look correct alongside the old fields. in
Preview the fields are there but hidden, could do the same with Stage.

On 17 Apr 2017 6:19 p.m., "Chris Buscaglia" <notifications@github.com>
wrote:

[2017-04-19 20:26] ChrisBuscaglia commented on #159
@SteveGrise found that stage is hiding fields as well, they are just hidden.

[2017-04-20 16:04] previnWong commented on #154
@SteveGrise with the latest build, this issue still exists.  I have stock Pro (no UN flavor), no special UN database, just a pure stock postgres.  When I make a file, if I try to open it up again, it says it can't find datasources.  Still trying to verify persisting global ids in pure stock postgres.
![image](https://cloud.githubusercontent.com/assets/11183838/25240320/5c756d06-25a7-11e7-9ab9-5457

[2017-04-20 16:52] SteveGrise commented on #154
@previnWong @MikeMillerGIS you need to assign me to issues and also include labels on any issues to link to the release I am working on. There are a pile of open issues and I did not see this one.

In this case I still have no idea what the error is - I cannot see the folder locations in the screenshots. If it's not in the project file folder there should be path included in the source/target loca

[2017-04-20 16:58] SteveGrise commented on #158
In the case that a null value is inserted into the intermediate database, and defaultvalue for that field would be set instead of null. Since this is the defaultvalue from the source dataset it is not the desired behavior - see issue #129

[2017-04-20 17:02] #121 closed

[2017-04-20 17:02] #122 closed

[2017-04-20 17:03] #158 closed

[2017-04-20 17:04] #141 closed

[2017-04-20 17:21] MikeMillerGIS opened #160 "Bug - When source or target has no fields, source-target errors"
1:  Create a new polygon layer, do not add any fields
2:  Create a new source-target file

![image](https://cloud.githubusercontent.com/assets/2707285/25243778/3bada2a8-25cc-11e7-9cbc-360a6b7a899e.png)

[2017-04-20 18:37] MikeMillerGIS commented on #154
@SteveGrise we isolated the issue.  If the owner of the GDB is SDE then the path has sde in the featureclass name.
![image](https://cloud.githubusercontent.com/assets/2707285/25246785/b82922da-25d6-11e7-8270-b9dc124e716e.png)

The line of code below is using last index, so the path it is checking is not the SDE, but the .sde/db_925.sde

https://github.com/Esri/data-assistant/blob/Enhancements-WA1/

[2017-04-20 19:27] pLeBlanc93 commented on #154
Since the path could also have .sde in it
(eg `C:/I am a folder.sde/dbcon.sde/database.sde.featureclass`), substring and indexOf can be replaced with a while loop. Python because I don't know C#:

[code]

[2017-04-20 21:43] SimmonsY commented on #108
Apparently the nonUnique Indexing is to support versioning,  I can't explain why, refer to link.

https://geonet.esri.com/ideas/13150-preserve-globalid-on-append

[2017-04-20 23:43] #159 closed

[2017-04-21 14:22] SteveGrise commented on #154
Easy test case is to edit an existing config file and add checks to the string like:
<Source>test.sde\DomainTest.gdb\Water.sde.Valve</Source>

[2017-04-21 14:34] SteveGrise commented on #160
It's a nonsense use case but should not raise an error now.

[2017-04-21 16:10] previnWong opened #161 "Unable to create config file with 4-21-17 build"
@SteveGrise Not doing anything cute, just the same step and same map I have been using the last week.  With Today's build, cannot create a config file.  Select source from drop down, select target from drop down, try to save file, error below.  Using the sde connections with the .sde in the name.

Start Time: Friday, April 21, 2017 9:05:46 AM
Running script SourceTargetMapping...
Source: source_db

[2017-04-21 19:18] SteveGrise commented on #161
@previnWong I posted an update, while this should resolve the current issue the next lines of code it will hit will be the untested connection file creation code for postgres.

[2017-04-21 22:08] pLeBlanc93 commented on #154
Still not working, regardless of schema.

[2017-04-21 22:11] pLeBlanc93 commented on #160
What's the point in creating the XML file? Should error out similarly to
[code]

[2017-04-24 13:31] SteveGrise commented on #160
No thanks, it's a nonsense use case and I'm not going to debate whether
it's an error or not, we don't want the script to error out with a python
error.

On Fri, Apr 21, 2017 at 6:11 PM, Paul LeBlanc <notifications@github.com>
wrote:

[2017-04-24 13:32] SteveGrise commented on #154
I need a more specific description, I did make a fix and test it on my end,
so I need to have more information about what is happening and any
data/config files you can provide.

On Fri, Apr 21, 2017 at 6:08 PM, Paul LeBlanc <notifications@github.com>
wrote:

[2017-04-24 19:14] SteveGrise commented on #154
Found the issue, has been updated.

[2017-04-25 21:53] previnWong commented on #145
verified

[2017-04-25 21:53] #145 closed

[2017-04-25 21:54] previnWong commented on #154
verified handling .sde and .gdb fine now.

[2017-04-25 21:54] #154 closed

[2017-04-25 21:55] previnWong commented on #161
verified

[2017-04-25 21:55] #161 closed

[2017-04-25 23:18] previnWong commented on #143
Just some screen shots to show the issue.
Here, the path to lyr is defined (layer file is in same level as project file, data is not)
![image](https://cloud.githubusercontent.com/assets/11183838/25411613/93487f6a-29d2-11e7-867c-bce87b2f9880.png)

in the config, it stores the path to the data, thus all definitions set in the layer file is bypassed.
![image](https://cloud.githubusercontent.com/asset

[2017-04-25 23:47] ChrisBuscaglia opened #162 "Replace data on FGDB - FGDB failure"
[code]

[2017-04-26 00:06] ChrisBuscaglia commented on #162
Scrap that - wasn't calculating the 'Replace by' value - user error

[2017-04-26 00:06] #162 closed

[2017-04-26 13:00] SteveGrise commented on #143
@MikeMillerGIS @previnWong you mean ArcMap layer files? I had no intention of supporting those, just ArcGIS Pro layer files.

[2017-04-26 13:05] MikeMillerGIS commented on #143
ok, let mark as a know issue

[2017-04-26 13:06] #143 closed

[2017-04-26 14:57] MikeMillerGIS opened #163 "Unable to access a function"
the function addError is not referenced correctly, causing a run time error.

![image](https://cloud.githubusercontent.com/assets/2707285/25441016/16b67130-2a6f-11e7-8821-5b4e8f7d2bb7.png)

[2017-04-26 14:59] MikeMillerGIS opened #164 "Cannot load data to a Feature Service"
Using secure feature service to my org, I am unable to load the source to target file

![image](https://cloud.githubusercontent.com/assets/2707285/25441131/6006b7c8-2a6f-11e7-8b33-3bf6f49801bd.png)

[2017-04-26 15:02] MikeMillerGIS commented on #164
Looks like if I change the xml file to http: from https it loads, are you checking for only http://?

[2017-04-26 15:06] MikeMillerGIS commented on #164
fix in https://github.com/Esri/data-assistant/commit/db403e620ff241da9b9e32a0056943172269cb4a

[2017-04-26 15:09] SteveGrise commented on #164
yes, that's a weakness in the code.

On Wed, Apr 26, 2017 at 11:02 AM, Michael Miller <notifications@github.com>
wrote:

[2017-04-26 15:11] MikeMillerGIS commented on #164
are you saying even with the checks for https, we cannot load data to a secure service?

[2017-04-26 15:15] MikeMillerGIS commented on #164
looks like I missed a few places, adding them now

[2017-04-26 15:17] MikeMillerGIS commented on #164
i just noticed, that error is in the .net side, not the python

[2017-04-26 15:29] SteveGrise commented on #164
yeah, I will need to check both though, there are a few parallel locations. I could probably get away with just checking for startswith('http') at this point because of the way the code works, but I like the extra check.

[2017-04-26 15:29] #163 closed

[2017-04-26 15:30] MikeMillerGIS commented on #164
all fixed

[2017-04-26 15:30] #164 closed

[2017-04-26 16:03] MikeMillerGIS opened #165 "Using a layer from the TOC for a feature service - does not work - source to target"
This service is not shared with everyone and is using https

![image](https://cloud.githubusercontent.com/assets/2707285/25444199/47cd42c2-2a78-11e7-8f0e-37a2632be5f9.png)

[2017-04-26 16:03] MikeMillerGIS commented on #165
fyi @ChrisBuscaglia

[2017-04-26 16:04] MikeMillerGIS commented on #165
using the url works fine
![image](https://cloud.githubusercontent.com/assets/2707285/25444252/763f81ce-2a78-11e7-832c-0dc8c1fd7089.png)

[2017-04-26 17:38] SteveGrise commented on #165
I'm not even sure how you added that - is the item a layer you selected from the combobox? I suspect there is something strange going on with the datasource property testing/concatenation... and http/https in the code

[2017-04-26 19:51] SteveGrise commented on #165
@MikeMillerGIS can you open up that service and send me the url in text form? I'm puzzled about the Service Name result and the http://https:// at the start of the url in the error message.

[2017-04-26 19:53] MikeMillerGIS commented on #165
Add any hosted FS to your TOC from the portal page.  That shows up in the drop down.

[2017-04-26 19:54] MikeMillerGIS commented on #165
here is what is passed in
Stormwater_OpenDrain_5015368ed0dc4f75a2103bb8dc7b3208\Storm Open Drains

source props
![image](https://cloud.githubusercontent.com/assets/2707285/25453908/b2bfb784-2a98-11e7-8770-c24ea2730bca.png)

[2017-04-26 20:00] SteveGrise commented on #165
Can you send me that long url in text form?

[2017-04-26 20:04] MikeMillerGIS commented on #165
https://services3.arcgis.com/xoil9QbyeUaxAZtF/arcgis/rest/services/Stormwater_OpenDrain_5015368ed0dc4f75a2103bb8dc7b3208/FeatureServer

[2017-04-26 20:04] MikeMillerGIS commented on #165
https://services3.arcgis.com/xoil9QbyeUaxAZtF/arcgis/rest/services/Stormwater_OpenDrain_5015368ed0dc4f75a2103bb8dc7b3208/FeatureServer

From: Steve Grise [mailto:notifications@github.com]
Sent: Wednesday, April 26, 2017 4:00 PM
To: Esri/data-assistant <data-assistant@noreply.github.com>
Cc: Michael Miller <mmiller@esri.com>; Mention <mention@noreply.github.com>
Subject: Re: [Esri/data-assistant] U

[2017-04-26 21:38] ChrisBuscaglia commented on #160
Closing this issue.

[2017-04-26 21:38] #160 closed

[2017-04-27 13:40] SteveGrise commented on #165
@ChrisBuscaglia @MikeMillerGIS this will need re-testing. I am not sure this fixes the issue, but it should at least provide a better error message. The key part of the error message is:
![image](https://cloud.githubusercontent.com/assets/4749060/25485837/4a7bded8-2b2d-11e7-9f94-3d5ecc0512c9.png)

I am not able to reproduce that message, but I made 2 changes in the service name and layerid functio

[2017-04-27 13:41] SteveGrise commented on #165
see the funny http://https:// part of the url in the error message above...

[2017-04-27 13:45] MikeMillerGIS commented on #165
will test today

[2017-04-27 18:19] previnWong commented on #165
@SteveGrise , the issue is still there.  make sure that you are using a https, http works fine.
![image](https://cloud.githubusercontent.com/assets/11183838/25498036/52c608bc-2b3b-11e7-990e-e9f9275be412.png)

[2017-04-27 18:30] SteveGrise commented on #165
Ahh, there's a clue here - GIS Servers\https:// at the beginning seems to trip it up. Will take another look.

[2017-04-27 18:59] ChrisBuscaglia commented on #140
@MikeMillerGIS Any change here or can we close this issue?

[2017-04-27 19:32] previnWong commented on #140
Let's close this for now.  If we start hearing customers  with this expectation, then we will change it.

[2017-04-27 19:33] #140 closed

[2017-04-27 19:34] ChrisBuscaglia commented on #139
Adding to wiki as a known issue.

[2017-04-27 19:34] #139 closed

[2017-04-27 19:40] ChrisBuscaglia commented on #140
https://github.com/Esri/data-assistant/wiki/Known-Issues---Updated-4-27-2017

[2017-04-27 19:48] ChrisBuscaglia commented on #115
Leave a comment

[2017-04-27 19:48] #115 closed

[2017-04-27 19:49] ChrisBuscaglia commented on #74
@chris-fox need the recompile for 2.0 @MikeMillerGIS

[2017-04-28 13:36] chris-fox commented on #74
@ChrisBuscaglia I recompiled the add-in based on the most recent commit to the Enhancements-WA branch and updated the version in the config for 2.0. There were 2 api changes that needed fixes. I pushed these changes to a new branch call 'build-pro-2.0'. You can download the add-in for 2.0 at the link below.

https://github.com/Esri/data-assistant/raw/build-pro-2.0/ShareGISData/bin/Release/DataAssi

[2017-04-28 17:44] ChrisBuscaglia commented on #74
@chris-fox perfect, this is good news and thanks for applying the fixes.

@MikeMillerGIS @pLeBlanc93 @previnWong

[2017-05-02 19:00] SteveGrise commented on #165
Made a small update today to ensure string handling - found an issue using https AGO tables.

[2017-05-03 00:03] ChrisBuscaglia commented on #165
@previnWong can you please verify this?

[2017-05-03 15:26] previnWong commented on #165
@SteveGrise @ChrisBuscaglia Seems to be working now for https feature services.  will test tables next.

[2017-05-04 16:51] ChrisBuscaglia commented on #165
Tables look OK from testing on my end - closing this issue.

[2017-05-04 16:54] ChrisBuscaglia opened #166 "Replicate append tool parameters (works with feature service tables)"
Notes from release 2.

1.Navigating to your portal and seeing all services and tables and dragging-dropping is a not a bad workflow (and one that was a requirement with the first release, and more efficient than adding to the map and then choosing in in the dropdown.

2.Introducing changes at this point would be detrimental to the stability of the product and we can tackle for the next release - t

[2017-05-04 16:58] ChrisBuscaglia commented on #74
@chris-fox need a re-compile for ArcGIS Pro 2.0 - have new icons and we applied 2 fixes for 1.4 release that need to be incorporated.

[2017-05-04 18:08] previnWong commented on #165
@ChrisBuscaglia Are you seeing this behavior with the tables?

If I drag the FS into the TOC.  If I drag the table from TOC into the DA tool, it throws an error.
![image](https://cloud.githubusercontent.com/assets/11183838/25718133/d34134a2-30b9-11e7-8fd0-170d57697595.png)

![image](https://cloud.githubusercontent.com/assets/11183838/25718120/cc07b3b4-30b9-11e7-84c5-eb9a974db587.png)

If I drag th

[2017-05-04 18:17] previnWong commented on #165
putting this known behavior in the wiki

[2017-05-04 18:41] ChrisBuscaglia commented on #165
@previnWong are you dragging it from the contents pane or the portal tab?

[2017-05-04 18:44] ChrisBuscaglia commented on #165
@previnWong if you navigate to the table via the browse... button does it work?

[2017-05-04 18:46] previnWong commented on #165
@ChrisBuscaglia
Browse to table (works)
Drag from portal pane (works)
Drag from Content pane (error)

[2017-05-04 19:08] ChrisBuscaglia commented on #165
@previnWong @SteveGrise @MikeMillerGIS @jessnoo spoke with GP team - TableView is for tables and table views and is the preferred way to accept feature service tables.  Added an issue for the next version to be delivered over the summer with ArcGIS Pro 2.0.

https://github.com/Esri/data-assistant/issues/166

[2017-05-04 21:31] previnWong commented on #165
closing this since #166 is created.

[2017-05-04 21:31] #165 closed

[2017-05-08 12:32] chris-fox commented on #74
@ChrisBuscaglia, which branch are the changes in? I am not seeing a commit with new images in the repo. What do you guys think about merging the latest changes into the develop branch so we can just work off that?

@MikeMillerGIS, I was thinking about how to handle this for the deployment tools as well. What do you think about instead of having different branches we have a 2.x and 1.x project in t

[2017-05-08 16:04] ChrisBuscaglia commented on #74
@chris-fox the icons are being worked on by the creative lab.  I'm fine with merging https://github.com/Esri/data-assistant/tree/Enhancements-WA1 into develop.

[2017-05-10 15:41] chris-fox commented on #74
@ChrisBuscaglia, now in the develop branch is a 1.4 and a 2.0 solution. In the Shared sub-folder is all the source files and images that remain the same between the versions. In the 1.4 and 2.0 sub-folders are the files that have differences. You can find the compiled add-in for each version under the 1.4 or 2.0 sub folders bin/Release.

[2017-05-10 15:51] ChrisBuscaglia commented on #74
@chris-fox thanks

[2017-05-15 18:08] ChrisBuscaglia opened #169 "Data Mapper does not show preview for lyrx files"
1. Join a table to a FGDB feature class
2. Use resulting layer from step 1 as a source
3. Use a standard (no-join present) feature class as target
4. Run new file, note that a lyrx is saved for the joined table feature class (as designed)
5. Data mapper will show "none" as the preview for these fields

Any subsequent append/replace works fine.

Chris

[2017-05-15 18:27] #169 closed

[2017-06-13 22:53] #74 closed

[2017-06-13 22:54] #72 closed

[2017-06-13 22:54] #104 closed

[2017-06-19 23:40] ChrisBuscaglia opened #170 "Append/Replace tool completes without error when target fields are too short, no data gets added"
Append/Replace tool completes without error when target fields are too short, no data gets added.  This may be specific with feature services as targets.  Reported by City of Salt Lake, UT.

Should at least provide a warning (skip copy of long chars.)

Workaround - make all target fields 255.

[2017-06-19 23:42] ChrisBuscaglia commented on #127
Closing this issue, should be able to use value map to take null values and make them something else.

[2017-06-19 23:42] #127 closed

[2017-06-19 23:43] ChrisBuscaglia commented on #137
@previn

[2017-06-19 23:44] ChrisBuscaglia commented on #137
This should be handled by the new changes that Fox made for the June Release.

[2017-06-19 23:44] #137 closed

[2017-06-19 23:46] #35 closed

[2017-06-19 23:47] #34 closed

[2017-06-19 23:49] #48 closed

[2017-06-20 17:22] MikeMillerGIS opened #172 "Rework the match library - interactively build"
We need the ability to interactively add field mapping to teh match library.  As we are filling out source to target for the hundreds of layers in the UN, we need to select a field and push to library.  Then each new fil starts with loading the match library

@SteveGrise @chris-fox @ChrisBuscaglia

[2017-06-20 17:55] MikeMillerGIS opened #174 "Expose Global ID field in the source, so it can be mapped to a target GUID field"

[2017-06-21 15:36] SteveGrise commented on #172
That sounds Ok, the way it works now you set up the file the way you want it to work and then add everything to the Match Library. It keeps track of how many times different combinations are used and picks the most popular one - for example for fields a->b you might have copied 1x but done a domain map 3x, so it will use the domain map value.

I am concerned about tracking this information while t

[2017-06-21 15:51] MikeMillerGIS opened #175 "Remove requirement for a project as relative path is by xml"

[2017-06-21 20:37] ChrisBuscaglia opened #178 "Load Domains from Feature Service"
When loading domains from a feature service, the following message appears.  Not sure what it means or what it's supposed to do when I click OK, but it adds both the target and source feature layers to the map.

Zip attached with XML (FL in both source and target.

![loaddomains](https://user-images.githubusercontent.com/5614261/27405535-bf162bca-5686-11e7-99c9-14b6a2796c25.png)

[UTAH_DATA_SHARIN

[2017-06-21 21:03] MikeMillerGIS commented on #178
Looks like a dev testing message.

Sent from my Verizon Wireless 4G LTE DROID

[2017-06-21 21:05] SteveGrise commented on #178
Yes, just trying to keep you entertained !

[2017-06-21 22:12] ChrisBuscaglia commented on #178
Yep - needed that.

[2017-06-22 12:58] MikeMillerGIS commented on #178
yup, debug message, I will remove it in my PR
ArcGIS.Desktop.Framework.Dialogs.MessageBox.Show("service url: " + dataset);

[2017-06-22 12:58] #178 closed

[2017-06-27 12:15] MikeMillerGIS opened #179 "Domain Map - Reload and map existing values"
If you have already filled out a domain map, have the ability to reload it and remap the existing values.

[2017-06-27 15:33] MikeMillerGIS opened #180 "Add a refresh button on the field mapping"
If a users is hacking the xml, be nice to have a refresh to reload the file without having to select another file and picking this file again

[2017-07-05 20:05] chris-fox opened #183 "Preview / Append fails with text fields with greater than 255 characters"
It looks like the staging database is hard coding the text field it creates to a length of 255 even if the source and target support larger than that. So it fails when it attempts to append data into the staging feature class.

[2017-07-05 20:06] MikeMillerGIS commented on #183
should we just move it to 2000?

[2017-07-05 20:12] chris-fox commented on #183
Why not just use the value of the target to truly reflect the output?

[2017-07-05 20:13] MikeMillerGIS commented on #183
or that :)

[2017-07-05 20:18] chris-fox opened #184 "Errors with ConditionalValue method if you don't surrond strings with quotes"
It wasn't immediately intuitive to me that you needed to surround all strings with quotes in order to have the expression validated properly:

![image](https://user-images.githubusercontent.com/6796763/27883064-3c4e6ba4-619d-11e7-8f64-1a14c9623386.png)

It would be nice if the tool handled this for you, similar to how with other methods I don't have to put quotes in or around the string.

![image]

[2017-07-05 20:20] chris-fox opened #185 "Preview not working properly for ConditionalValue method"
The preview is showing the expression rather than the actual value that would be returned like the other methods.

![image](https://user-images.githubusercontent.com/6796763/27883189-af02fe3a-619d-11e7-817f-3f0dcebffead.png)

[2017-07-06 15:53] ChrisBuscaglia commented on #180
@MikeMillerGIS @chris-fox we shouldn't be promoting the workflow of hacking the XMLs or providing refreshes, what would you be updating that cannot be updated on this page?

[2017-07-06 15:55] MikeMillerGIS commented on #180
services asked for this as they are repeating the same field mapping over and over for many layers.  Until we have a way to promote field mappings from config to config, they are doing it behind the scenes.

With the UN migration, they are working with 20+ files

[2017-07-06 15:56] previnWong commented on #180
@ChrisBuscaglia right now atleast, to disable a field from being able to be modified, you have to add the tag in the xml, no UI way to do it.

[2017-07-06 15:58] previnWong commented on #180
ah, @MikeMillerGIS great enhancement.  when creating a new XML, have option to "use a template" and specify an existing xml file.

[2017-07-06 16:00] MikeMillerGIS commented on #180
not really, say they map diameter, that is 40+ mappings.  That needs to be done on 24 layers in water.  They need to push that mapping to something that can be selected layer or applied to another config.
https://github.com/Esri/data-assistant/issues/172

[2017-07-06 16:12] ChrisBuscaglia commented on #180
@MikeMiller agreed that you need to save field mappings - but what does that have to do with refresh?

[2017-07-06 16:13] MikeMillerGIS commented on #180
lets dicuss post UC, to much going on right now, it is only in dev, it can be removed easily

[2017-07-12 16:36] MikeMillerGIS opened #186 "Domain Map - Ability to add a new code"
Feedback from services is that the domain map needs the ability to add a new row.  As part of the mapping if the user identifies a code is not in the target, they will need to add it to the target GDB.  They would not want to break out of the data translation mapping process, but have the ability to add a new row, where they would manually specify the target value in which they would add at a late

[2017-07-14 16:15] previnWong commented on #186
@JRosenfeldIntern is looking into this.  @chris-fox has logic in there in the deployment tool, need similar functionality in DA.

[2017-07-14 17:15] MikeMillerGIS commented on #186
We would not add the code to the target schema, we just need the ability to add a row and value in the conversion.

Sent from my Verizon Wireless 4G LTE DROID

[2017-07-14 17:21] JRosenfeldIntern commented on #186
I've already implemented something along those lines. Essentially you can enter a value in a text field and it appears as an option as a source or target domain in the drop down field. It's still a bit buggy and the workflow isn't great,, still working on that. Here's what the UI looks like at the moment.
![step1](https://user-images.githubusercontent.com/29782875/28222888-1d7e263c-687e-11e7-83ef-

[2017-07-14 17:24] previnWong commented on #186
I think we should enhancement the settings pane and give them that option to add coded value to domain.  If they already know they need a domain in the target because their source has it and they forgot to add it in the target when it was made, we should be able to add to the domain.  That's better than having the value in the xml and then adding the coded value later time.

[2017-07-14 17:39] JRosenfeldIntern commented on #186
@previnWong wouldn't, at that point, they be able to go into the target data and add a domain through the traditional means? Or is it more of an ease of access?

[2017-07-14 17:42] MikeMillerGIS commented on #186
In terms of the UN, should they really add that in an asset package.  I think an option to run add code to domain would be nice, just not a default setting.

Sent from my Verizon Wireless 4G LTE DROID

[2017-07-14 17:44] previnWong commented on #186
@JRosenfeldIntern more ease of access, I just overhead Ben Nadler at the UC, saying not having the users jump around.
@MikeMillerGIS for the UN, I agree, the missing coded value should be added to AP and run to add the increment.  just thinking overall as an ETL tool, it should probably have that adding domain as part of its capabilities.

[2017-07-14 17:53] MikeMillerGIS commented on #186
Make sense.  Just need to be able to handle Feature Service and Local gdb layers.

[2017-07-14 18:03] pLeBlanc93 commented on #186
You open a can of worms with adding domains to the target. Someone will want to add a range domain, then a field, maybe a subtype, etc. I see the appeal for an ETL tool though.

I'd suggest serializing the GP calls and instructing the user to run instead of us doing it for them.

[2017-07-14 18:08] pLeBlanc93 commented on #186
You'd also need to account for shapefiles/dbf and disable accordingly

[2017-07-17 16:25] JRosenfeldIntern opened #187 "datetime object might not be copying correctly"
While building the unit tests for Data Assistant, I tried to copy over a datetime object into a preview feature class. When copied over, however, it appears two of the fields have a millisecond specifier. The source field has it set to one millisecond and the target's is set to two milliseconds, throwing an assertion error. Below is a screenshot of the data and the data I used.

![capture](https:/

[2017-07-19 23:43] pLeBlanc93 commented on #183
I vote for `2^31-1`.

http://desktop.arcgis.com/en/arcmap/latest/manage-data/administer-file-gdbs/file-geodatabase-size-and-name-limits.htm

[2017-07-19 23:48] JRosenfeldIntern opened #188 "Bugs with the SubString Method"
There are two bugs within the substring implementation in python [Here](https://github.com/Esri/data-assistant/blob/master/Shared/GPTools/arcpy/dlaFieldCalculator.py#L305).

First of all, if a value is null in the field that the method is acting on, the string "None" is then used as the string to slice. The value should just remain None type.

Secondly, the slicing of the string is incorrect. In t

[2017-07-19 23:55] JRosenfeldIntern opened #189 "Having no project will abort dlaPublish.py"
In dlaPublish [here](https://github.com/Esri/data-assistant/blob/master/Shared/GPTools/arcpy/dlaPublish.py#L60) the program will abort early if no project is specified in the xml file.

It looks like this was addressed by @MikeMillerGIS  in [this issue](https://github.com/Esri/data-assistant/issues/175) so maybe I'm missing something. Can someone explain why having a project here is necessary?

[2017-07-20 00:00] JRosenfeldIntern commented on #184
@chris-fox  I've noticed this and worked around it when implementing the Unit Tests. If this has been changed please notify me. If not I'd be happy to give an attempt at solving it, though I'm not completely sure if it's on the .NET side of things or within the python.

[2017-07-20 18:25] MikeMillerGIS commented on #189
The project file is required when running the DA headless, outside of pro.  We really should augment to code to check the calling app and only exit when it is not Pro.

[2017-07-20 19:05] MikeMillerGIS opened #190 "Any string processing function should return none for none values"
getChangeCase
getSubstring
getChangeCase
getSplit

@JRosenfeldIntern

[2017-07-20 19:08] MikeMillerGIS opened #191 "When generating the Source File Target, Null values are set to "None" in the data"
This cause the following issue in preview: https://github.com/Esri/data-assistant/issues/188

We need to determine if we should

A: Fix the data export so null values are not set to "None" in the XML
B:  Ignore "None" in the add in preview and just treat them as Null

The actual processing of the data is correct with the fixes that @JRosenfeldIntern will check in related to
https://github.com/Esri

[2017-07-21 14:23] #189 closed

[2017-07-21 16:12] clareprice opened #193 "Configure Data Mapper - open Pro dialog versus file explorer"
@MikeMillerGIS @previnWong @JRosenfeldIntern

To stay consistent with the ArcGIS Pro experience and the other gp based tools in data assistant, when adding and browsing for files the ArcGIS Pro project dialog should open versus file explorer. Example screenshots below.

New Source-Target Configuration File dialog for adding:
C:\Users\clar7284\Documents\ArcGIS\Projects\DataAssistantDoc\SourceTarget

[2017-07-21 16:21] clareprice opened #194 "Data Mapper - Source Layer Target Layer"
@MikeMillerGIS @previnWong @JRosenfeldIntern
To match with the Pro and gp data assistant, have the source layer and target layer parameters display just the name of the layer and on hover over present the path

![dataassistantsourcedata](https://user-images.githubusercontent.com/5611508/28472555-e0d72ba2-6df5-11e7-8229-00d9e00b40d0.gif)

[2017-07-24 22:33] JRosenfeldIntern commented on #193
Not sure if that dialog box is available in the SDK for .NET/C#. The closest I could find was
ArcGIS.Desktop.Framework.Dialogs.BrowseForFolder but that seems to open up a windows dialog box, not an ArcGIS Pro one.

@chris-fox or @ChrisBuscaglia have one of you ever worked with something like this?

[2017-07-25 15:28] JRosenfeldIntern commented on #190
@MikeMillerGIS we can probably close this issue out

[2017-07-25 15:28] #188 closed

[2017-07-25 15:38] #190 closed

[2017-07-25 16:58] JRosenfeldIntern commented on #194
@clareprice it looks like this behavior is no longer a part of the core ArcGIS. Now when I do it, it just provides the full address as a tool tip. I'll implement the enhancement so that the source-target configuration file is just the name of the xml and the tool tip is the full address.

[2017-07-31 22:45] JRosenfeldIntern opened #197 "Inconsistent Mouseover behavior"
When mapping data, the user can mouse over the grid to see the field types of the source and target field. The source field tootlip came up when mousing over anywhere in the box. The target tootlip, however, only showed up when the user mouses over the text itself.

I implemented a fix to this and will add it in the next pull request I do. Making this issue for a reference point.

The problem was

[2017-07-31 23:04] JRosenfeldIntern opened #198 "Using Alias Names in Data Mapper"
Potential enhancement brought up to me by @pLeBlanc93 .

Currently, Data Mapper uses the true field names for mapping, though the xml saves the Alias Names for the fields as well. It doesn't seem like it'd be too difficult technically to give the user the option to choose between the alias name and real name of the fields while they are mapping.

Would this be a worthy enhancement?

Secondly, ther

[2017-07-31 23:11] JRosenfeldIntern opened #199 "Dealing with Crashing Scripts"
This is an issue that's been brought up before, but I think should have another look again.

If inconsistent fields are mapped together and data that cannot be stored in the target field goes into this field, the script will crash. This crash is necessary and can only be done at run time since the other option would have to be processing the entire source data set after each new method is applied.

[2017-08-01 00:42] pLeBlanc93 commented on #198
Now that I'm thinking about it, alias doesn't have to be unique like field names (though I can't imagine why someone would have duplicate field aliases). Internally the aliases are still used of course. If someone has 10 fields all aliased as `foo`.... We can still make it work since it's positional.

[2017-08-01 17:24] JRosenfeldIntern opened #200 "Preview rows in xml do not respect Definition Queries"
If the source layer file has a definition query on it, it is not respected in the preview rows in the created xml file.

Here you can see a definition query that leaves 8 rows in the layer file. Pay attention to the facility ID.
![image](https://user-images.githubusercontent.com/29782875/28837934-6b7dec7c-76a3-11e7-8730-23cbb5233f3f.png)

Within the xml file, the first rows (which are omitted due

[2017-08-01 17:26] JRosenfeldIntern opened #201 "Loading layer file from project does not respect data query"
If you do not load the layer file from disc, the definition query is not respected when appending the data. That means if you were to load from the table of contents, DA uses the data source the layer file is pointing to as opposed to the layer file information (which contains the definition query).

[2017-08-01 22:36] JRosenfeldIntern opened #202 "Notify user during mapping of inconsistent fie"
When a user maps two fields that are not of the same type, perhaps it would be useful to notify the user of this before even attempting to run a script. This could help avoid crashes while also making sure the user has double checked the types of their fields.

When two types are mapped to each other that aren't the same type or the same size, perhaps we could put an yellow warning icon in the spa

[2017-08-02 07:26] MikeMillerGIS commented on #201
@SteveGrise Is this expected?

[2017-08-02 18:47] SteveGrise commented on #201
should preserve Def expression if part of layer file properties.

On 2 Aug 2017 3:26 a.m., "Michael Miller" <notifications@github.com> wrote:

[2017-08-02 22:52] ChrisBuscaglia commented on #198
@JRosenfeldIntern @pLeBlanc93 This was something that we had an enhancement for, but can't find the original issue.  Definitely worth pursuing.

[2017-08-03 07:07] MikeMillerGIS commented on #198
I like option two, but probably just use option 1 as this is consistent with arcmap/pro.  This should convert both source and target.

[2017-08-07 13:19] MikeMillerGIS opened #203 "Domain Map Swap the preloaded values"
For the domain map, we should preload the source side instead of the target side.  This would eliminate the issue of setting the same source value to different target values

example of a bad mapping:
![image](https://user-images.githubusercontent.com/2707285/29028157-63583a2c-7b51-11e7-9571-a8cf95c7ccea.png)

@SteveGrise @JRosenfeldIntern

[2017-08-07 13:20] MikeMillerGIS opened #204 "Domain Map - If the layer has subtypes, restrict values loaded by user specified subtypes"
Should we look at a way to expose only the domains by subtypes, so for a cleaner list?

Could we add a pick list(checkboxes) to this dialog with all subtypes for the source and target?

![image](https://user-images.githubusercontent.com/2707285/29028257-a77bf75c-7b51-11e7-93c2-11181a7d4a15.png)

[2017-08-07 13:35] MikeMillerGIS opened #205 "Domain codes not properly set after reloading xml file, when different domains per subtype"
Initial Mapping:
![image](https://user-images.githubusercontent.com/2707285/29028646-f98011ea-7b52-11e7-880c-263aa15fc389.png)

after closing and reloading:
![image](https://user-images.githubusercontent.com/2707285/29028751-43ce836c-7b53-11e7-8274-4802bb8eab8b.png)

Notice that the display is wrong.  The value will still be calculated correctly, but the UX is bad.

To resolve:
1:  Restructure the

[2017-08-07 13:36] MikeMillerGIS commented on #205
We need to ensure this is backwards compatible, so we need to check first if the sValue has child elements, if not, use the old method.  If it does, use the new method.